{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#May #Native #reparations #Mayor '
title: 11 u.s. mayors commit to developing pilot projects for reparations</p>
<hr />
<h1>11 Mayors From Los Angeles To Asheville Vow To Create Reparations Pilot Programs : NPR</h1>
<blockquote>
<h2>Excerpt</h2>
<p>The local leaders have pledged to pay reparations to a small group of Black residents in their cities — saying they hope it'll set an example for how a nationwide program could work.</p>
</blockquote>
<hr />
<p>[[Native]]</p>
	{% endblock %}