{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#America #Aboriginal #American #Australia #kill #014 #aboriginal '
title: Desert Mob 2014 A Photographic Gallery</p>
<hr />
<p>Feed: [[Aboriginal]] Art &amp; Culture: an [[America]]n eye
Title: Desert Mob 2[[014]]: A Photographic Gallery
Author: Will
Date: Sun, 21 Sep 2[[014]] 11:00:43 -0400
Link: https://[[aboriginal]]artandculture.wordpress.com/2[[014]]/09/21/desert-mob-2[[014]]-a-photographic-gallery/</p>
<p>Lots of people wait all year to go to Alice Springs for Desert Mob. I, sadly 
must rely on the kindness of–well not strangers–but rather old friends who bring
Desert Mob to me. Thanks to their generosity, I can now bring a taste of Desert 
Mob to you.</p>
<p>I’ve known Stephen Williamson and Sam Togni from ancient days in Darwin when 
Stephen was working for Framed. We’ve remained close in the days since then that
have taken him to posts all across [[Australia]], and I was delighted when I learned
that he had gone to Alice Springs to work at the Araluen Arts Centre. I was even
more delighted to learn that he would be responsible for the hang each year of 
the big Desert Mob show. I’ve always admired Stephen’s eye and always 
appreciated his advice about artists to follow. Now I have the chance to admire 
his s[[kill]]s as a curator each year. I’m grateful to him for sharing these 
stunning photos of Desert Mob again this year, and hope you’ll enjoy them as 
much as I have, whether you’re experiencing the show for the first time now, or 
remembering it fondly.</p>
<p>Each of the images below is linked to a larger version; just click to enjoy the 
splendor in full. Details of individual works can be seen at the Desert Mob 
2<a href="http://desart.com.au/galleries/category/desert-mob-2[[014]]/" title="link">[014]</a> website.</p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-01.jpg" title="link">image 1: dm14-01 (link #3)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-02.jpg" title="link">image 2: dm14-02 (link #5)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-03.jpg" title="link">image 3: dm14-03 (link #7)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-04.jpg" title="link">image 4: dm14-04 (link #9)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-05.jpg" title="link">image 5: dm14-05 (link #11)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-06.jpg" title="link">image 6: dm14-06 (link #13)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-07.jpg" title="link">image 7: dm14-07 (link #15)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-08.jpg" title="link">image 8: dm14-08 (link #17)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-09.jpg" title="link">image 9: dm14-09 (link #19)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-10.jpg" title="link">image 10: dm14-10 (link #21)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-11.jpg" title="link">image 11: dm14-11 (link #23)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-12.jpg" title="link">image 12: dm14-12 (link #25)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-13.jpg" title="link">image 13: dm14-13 (link #27)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-14.jpg" title="link">image 14: dm14-14 (link #29)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-15.jpg" title="link">image 15: dm14-15 (link #31)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-16.jpg" title="link">image 16: dm14-16 (link #33)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-17.jpg" title="link">image 17: dm14-17 (link #35)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-18.jpg" title="link">image 18: dm14-18 (link #37)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-19.jpg" title="link">image 19: dm14-19 (link #39)</a></p>
<p><a href="https://[[aboriginal]]artandculture.files.wordpress.com/2[[014]]/09/dm14-20.jpg" title="link">image 20: dm14-20 (link #41)</a></p>
<p>Links: </p>
	{% endblock %}