{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#government #April #November #December #New #2020 #pandemic #health #News #lockdown
  #vaccine #coronavirus #2018 #flu #COVID #virus #research #FOX #1754 #1831 '
title: Germanys coronavirus lockdown not responsible for pandemic decline, study finds</p>
<hr />
<h1>Germany's coronavirus lockdown 'not responsible' for pandemic decline, study finds | Fox News</h1>
<blockquote>
<h2>Excerpt</h2>
<p>A new study from a German university found that the country’s COVID-19 infections were already falling prior to each government-mandated lockdown.</p>
</blockquote>
<hr />
<p>A new <a href="https://www.foxnews.com/category/[[health]]/medical-[[research]]">study</a> from a <a href="https://www.foxnews.com/category/world/world-regions/germany">German</a> <a href="https://www.foxnews.com/category/us/education">university</a> found that the country’s <a href="https://www.foxnews.com/category/[[health]]/infectious-disease/[[corona[[virus]]]]">[[COVID]]-19</a> infections were already falling prior to each [[government]]-mandated [[lockdown]]. </p>
<p>Statisticians at the Ludwig Maximilians University of Munich analyzed the infection rates around the time of national [[lockdown]]s in Germany. </p>
<p>The study concluded that the rate of infection was already declining when the [[government]] mandated more extreme measures in an effort to combat the spread of the [[virus]]. </p>
<p><img alt="Protestors gather in front of the Brandenburg Gate before a demonstration against the [[corona[[virus]]]] measures by the German Government in Berlin, Germany, Saturday, Aug. 29, [[2020]]." src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/[[2020]]/08/640/320/1000-6.jpeg?ve=1&amp;tl=1" /></p>
<p>Protestors gather in front of the Brandenburg Gate before a demonstration against the [[corona[[virus]]]] measures by the German Government in Berlin, Germany, Saturday, Aug. 29, [[2020]]. (Christophe Gateau/dpa via AP)</p>
<p><a href="https://www.foxnews.com/media/realclearpolitics-fact-checkers-practice-caution-lab-leak-about-face"><strong>FACT-CHECKERS IN ‘EMBARRASSING POSITION’ AFTER LAB LEAK THEORY ABOUT-FACE: REALCLEARPOLITICS</strong></a></p>
<p>The study focused on the number of people each infected person infected with the [[virus]], which statisticians argue is harder to distort with [[flu]]ctuating test rates, <a href="https://www.telegraph.co.uk/news/2021/06/03/german-study-finds-[[lockdown]]-had-little-effect-[[virus]]-infections/">according to the Telegraph</a>. </p>
<p>Each time a [[lockdown]] was initiated, the data already indicated a decline in infections. </p>
<p>This has led some anti-[[lockdown]] supporters to claim that the [[lockdown]]s had "no effect" on stopping the [[pandemic]] spread, but the study’s authors have stressed that it is not clear what effect the [[lockdown]]s might have otherwise had. </p>
<p><a href="https://www.foxnews.com/world/china-vaccination-effort-slow-start"><strong>CHINA PUSHES AHEAD WITH AGGRESSIVE VACCINATION EFFORT AFTER SLOW START</strong></a></p>
<p>"The measures taken could have had a positive effect on the course of the infection, but are not solely responsible for the decline," the study’s authors wrote.</p>
<p>Professor Ralph Brinks argued that "you can’t tell" if a [[lockdown]] was necessary. </p>
<p>"All that it shows is that the start of the [[lockdown]] and the fall in infections do not coincide," Brinks said during an interview on German television. </p>
<p><img alt="Angela Merkel's administration initiated several [[lockdown]]s during the [[pandemic]]." src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/[[2018]]/11/640/320/AP183[[1754]]5305543.jpg?ve=1&amp;tl=1" /></p>
<p>Angela Merkel's administration initiated several [[lockdown]]s during the [[pandemic]]. (AP)</p>
<p><a href="https://www.foxnews.com/politics/scalise-comer-fauci-testify-house-[[corona[[virus]]]]-oversight-committees"><strong>SCALISE, COMER SAY FAUCI MUST TESTIFY ABOUT PUBLISHED EMAILS, [[COVID]]-19 ORIGIN</strong></a></p>
<p>No one has disputed the study’s figures, but some scientists argued that the mere discussion and debate about [[lockdown]]s may have in[[flu]]enced people’s behavior. </p>
<p>Germany initiated a "[[lockdown]] lite" with only bars and restaurants closed in [[November]], moving to more complete [[lockdown]]s in [[December]] and again in [[April]]. </p>
<p>Medical journalist Christoph Specht claimed on <a href="https://www.deutschlandfunk.de/medizinjournalist-zu-corona-massnahmen-wir-verwenden-den.694.de.html?dram:article_id=496228">public radio Deutschlandfunk</a> that the number of infections fell because of vaccinations rather than the "emergency brake" [[lockdown]] Prime Minister Angela Merkel’s administration initiated. </p>
<p><a href="https://www.foxnews.com/apps-products?pid=AppArticleLink"><strong>CLICK HERE TO GET THE [[FOX]] NEWS APP</strong></a></p>
<p>"Yes, I think so - not necessarily because of the emergency brake, but because more [[vaccine]] is not only popular, but has actually been delivered in the last few days," Specht said.</p>
	{% endblock %}