{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Great #December #June #America #May #France #alliance #American #2020 #gold
  #Treaty #1990 #Poland #North #Europe #October #French #1848 #1891 #1900 #1933 #1943
  #1945 #1949 #Wikipedia #Soviet '
title: German search results wikipedia</p>
<hr />
<h1>German - Search results - Wikipedia</h1>
<blockquote>
<h2>Excerpt</h2>
<p>There is a page named "German" on Wikipedia</p>
</blockquote>
<hr />
<p><strong>There is a page named "<a href="https://en.wikipedia.org/wiki/German" title="German">German</a>" on [[Wikipedia]]</strong></p>
<ul>
<li>
<p>German(s) may refer to: Germany (of or related to) Germania (historical use) Germans, citizens of Germany, people of German ancestry, or native speakers</p>
<p>1 KB (178 words) - 08:43, 5 [[June]] 2021</p>
</li>
<li>
<p>German descent or native speakers of the German language. The constitution of Germany defines a German as a German citizen. During the 19th and much of the</p>
<p>41 KB (4,184 words) - 19:56, 17 [[June]] 2021</p>
</li>
<li>
<p>/ 51°N 9°E / 51; 9 Germany (German: Deutschland, pronounced [ˈdɔʏtʃlant] (listen)), officially the Federal Republic of Germany, is a country in Central</p>
<p>183 KB (15,140 words) - 06:23, 17 [[June]] 2021</p>
</li>
<li>
<p>and Swedish. German is the second most widely spoken Germanic language after English. One of the major languages of the world, German is a native language</p>
<p>147 KB (14,716 words) - 10:42, 16 [[June]] 2021</p>
</li>
<li>
<p>The chancellor of Germany, officially the federal chancellor of the Federal Republic of Germany (German: Bundeskanzler(in) der Bundesrepublik Deutschland)</p>
<p>46 KB (3,884 words) - 10:42, 14 [[June]] 2021</p>
</li>
<li>
<p>The German Shepherd (German: Deutscher Schäferhund, German pronunciation: [ˈdɔʏtʃɐ ˈʃɛːfɐˌhʊnt]) is a breed of medium to large-sized working dog that originated</p>
<p>64 KB (6,930 words) - 07:55, 19 [[June]] 2021</p>
</li>
<li>
<p>German Standard German, Standard German of Germany, or High German of Germany is the variety of Standard German that is written and spoken in Germany</p>
<p>3 KB (218 words) - 02:23, 24 [[December]] [[2020]]</p>
</li>
<li>
<p>colours of Germany: black, red, and [[gold]] (German: Schwarz-Rot-Gold). The flag was first sighted in [[1848]] in the German Confederation; with it being officially</p>
<p>70 KB (7,275 words) - 18:13, 18 [[June]] 2021</p>
</li>
<li>
<p>The Imperial German Army (German: Deutsches Heer) was the unified ground and air force of the German Empire (excluding the maritime aviation formations</p>
<p>42 KB (4,542 words) - 14:29, 13 [[June]] 2021</p>
</li>
<li>
<p>400 Nazi Germany, officially known as the German Reich from [[1933]] until [[1943]], and the [[Great]]er German Reich from [[1943]] to [[1945]], was the German state between</p>
<p>189 KB (22,280 words) - 06:53, 19 [[June]] 2021</p>
</li>
<li>
<p>The Federal Republic of Germany, as a federal state, consists of sixteen partly sovereign federated states (German: Land (state), plural Länder (states);</p>
<p>60 KB (6,291 words) - 20:38, 16 [[June]] 2021</p>
</li>
<li>
<p>German [[America]]ns (German: Deutschamerikaner, pronounced [ˈdɔʏ̯tʃʔameʁiˌkaːnɐ]) are [[America]]ns who have full or partial German ancestry. With an estimated</p>
<p>180 KB (20,537 words) - 19:14, 18 [[June]] 2021</p>
</li>
<li>
<p>is governed by the German Football Association (Deutscher Fußball-Bund), founded in [[1900]]. Between [[1949]] and [[1990]], separate German national teams were</p>
<p>133 KB (8,740 words) - 01:21, 19 [[June]] 2021</p>
</li>
<li>
<p>Republic of Germany (FRG) to form the reunited nation of Germany. The end of the unification process is officially referred to as German unity (German: Deutsche</p>
<p>93 KB (11,154 words) - 11:24, 17 [[June]] 2021</p>
</li>
<li>
<p>The German Confederation (German: Deutscher Bund) was an association of 39 predominantly German-speaking sovereign states in Central [[Europe]], created by</p>
<p>69 KB (6,436 words) - 10:22, 12 [[June]] 2021</p>
</li>
<li>
<p>Operation Barbarossa (German: Unternehmen Barbarossa) also known as the German invasion of the [[Soviet]] Union was the code name for the invasion of the [[Soviet]]</p>
<p>163 KB (19,576 words) - 10:07, 15 [[June]] 2021</p>
</li>
<li>
<p>Mirrors in [[France]]. Princes of the German states gathered there to proclaim Wilhelm of Prussia as Emperor of the German Empire after the [[French]] capitulation</p>
<p>114 KB (14,821 words) - 03:31, 8 [[June]] 2021</p>
</li>
<li>
<p>understand that the war is over for them. Official website NICK RYAN TAKES TO THE SKIES WITH THE GERMAN, twitchfilm.net The German at IMDb v t e v t e</p>
<p>1 KB (152 words) - 16:02, 16 [[May]] 2021</p>
</li>
<li>
<p>independent southern German states—Baden, Württemberg, Bavaria and Hesse-Darmstadt—into an [[alliance]] with the Prussian-dominated [[North]] German Confederation;</p>
<p>100 KB (12,532 words) - 07:33, 18 [[June]] 2021</p>
</li>
<li>
<p>[[October]] with Germany and the [[Soviet]] Union dividing and annexing the whole of [[Poland]] under the terms of the German–[[Soviet]] Frontier [[Treaty]]. German forces invaded</p>
<p>122 KB (14,073 words) - 04:04, 19 [[June]] 2021</p>
</li>
</ul>
<p>Results from sister projects</p>
<ul>
<li>
<p>See also: german and Germán German edition of Wiktionary English [[Wikipedia]] has articles on: German [[Wikipedia]] (abbreviation): Germ. From Latin Germānus</p>
</li>
<li>
<p>German Language, F  ([[1891]])  by Friedrich Kluge, translated by John Francis Davis -falt Friedrich Kluge2526340An Etymological Dictionary of the German</p>
</li>
<li>
<p>German may refer to: The German language An adjective or noun, of or pertaining to Germany The Germans This disambiguation page, one that points to other</p>
</li>
<li>
<p>For a phrasebook specifically about the German dialect spoken in Switzerland, see Swiss-German phrasebook German (Deutsch) is a Germanic language spoken</p>
</li>
<li>
<p>Welcome to the German wikibook, a free textbook for learning the German language. As this book is still under development, you are invited to make any</p>
</li>
</ul>
<p><img alt="" src="https://en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" /></p>
	{% endblock %}