{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #prison #June #America #colonialism #alliance #American #Treaty #2008
  #treaty #Crown #Indian #North #history #British #October #Québec #sovereignty #Canadian
  #Queen #2009 #research #1899 #1763 #1812 #1899 #War #Indigenous #violence '
title: 'Whose shared history '</p>
<hr />
<h1>Whose Shared History?</h1>
<blockquote>
<h2>Excerpt</h2>
<p>Converts PDF files to Markdown.</p>
</blockquote>
<hr />
<p>JSTOR is a not-for-profit service that helps scholars, [[research]]ers, and students discover, use, and build upon a wide<br />
range of content in a trusted digital archive. We use information technology and tools to increase productivity and<br />
facilitate new forms of scholarship. For more information about JSTOR, please contact support@jstor.org.</p>
<p>Your use of the JSTOR archive indicates your acceptance of the Terms &amp; Conditions of Use, available at<br />
https://about.jstor.org/terms</p>
<p><code>[[Canadian]] Committee on Labour History and Athabasca University Press are collaborating with
JSTOR to digitize, preserve and extend access to Labour / Le Travail</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:25:24 UTC</code></p>
<p><code>200 / LABOUR/LE TRAVAIL 73</code></p>
<h2>Whose Shared History?</h2>
<p><code>Kiera L. Ladner and Michael McCrossan</code></p>
<p><code>On xi [[June]] [[2008]], Prime Minister Stephen Harper issued an historic apology
to former students of [[Indian]] residential schools. While the Prime Minister
should certainly be commended for his role in addressing this dark "chapter"
in [[Canadian]] [[history]], we must not forget that the apology was part of a larger
settlement addressing [[Indian]] residential schools. In his remarks offered on
behalf of "all [[Canadian]]s," Prime Minister Harper apologized for the physical,
sexual, and emotional abuse suffered by former students and for the inter
generational effects caused by a policy of assimilation. The words spoken by
the Prime Minister that day continue to resonate with profound and emo
tional cadences. Invoking the language of "healing" and "reconciliation," the
Prime Minister called for a "new beginning" based upon knowledge of "our
shared [[history]]." For many [[Indigenous]] people, however, the words spoken in
the apology do not accurately represent their experience with [[colonialism]] and
[[Canada]]'s [[history]] as a settler society.
The narrative of the [[Canadian]] nation offered by the Prime Minister is one
that selectively omits a [[history]] of genocide, territorial dispossession, cul
tural destruction, and regime replacement in favour of a rendering of [[history]]
which represents [[Canada]] as a primarily [[British]] settler society - one whose
past includes a discreet chapter containing the consequences of policies with
"lasting and damaging impacts." In his admiration for [[Canada]] as a [[British]]
settler society, the Prime Minister continually forgets that [[Canada]] is itself a
settler society, allowing him to view residential schools as an isolated event. In
his remarks at a press conference during a meeting of the G20 in Pittsburgh
in [[2009]], the Prime Minister said the following about the [[history]] of [[Canada]]:
We are a very large country... we have one of the longest-standing democratic regimes,
unbroken democratic regimes, in [[history]]. We are one of the most stable regimes in
[[history]]. There are very few countries that can say for nearly 150 years they've had the same
political system without any social breakdown, political upheaval or invasion. We are
unique in that regard. We also have no [[history]] of [[colonialism]]. So we have all of the things
that many people admire about the great powers, but none of the things that threaten or
bother them about the great powers.</code></p>
<p>We also are a country, obviously beginning with our two major cultures, but also a<br />
country formed by people from all over the world that is able to speak cross-culturally in a<br />
way few other countries are able to do at international forums.</p>
<ol>
<li>See Aaron Wherry, "What he was talking about when he talked about co<br />
   lonialism," Macleans, 1 [[October]] [[2009]], <a href="http://www2.macleans.ca/[[2009]]/10/01/">http://www2.macleans.ca/[[2009]]/10/01/</a><br />
   what-he-was-talking-about-when-he-talked-about-[[colonialism]]/.</li>
</ol>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:25:24 UTC</code></p>
<p><code>FORUM: [[history]] under HARPER / 201</code></p>
<p>While the Prime Minister could have been referring to a [[history]] of colonial<br />
ism beyond [[Canada]]'s territorial waters, it must be remembered that [[Canada]]<br />
began as a country that actively engaged in [[colonialism]] within its own borders<br />
as it continued to expand westward and northward, disposing [[Indigenous]]<br />
peoples of their territories and continuing the same policy trajectory as its<br />
Imperial counterparts. The Prime Minister's description of the country as<br />
originating from "two major cultures" fails to acknowledge the multiplicity of<br />
[[Indigenous]] nations whose territories [[Canada]] now claims as its own. This not<br />
only ignores the territories possessed by [[Indigenous]] peoples and their rela<br />
tionships with the [[Crown]], but also the shared and intersecting histories they<br />
have with those two cultures and the many others that have since arrived.<br />
Beyond their denial of [[Canada]]'s [[history]] as a colonizing nation, Prime Minister<br />
Harper's remarks are also problematic as they engage in the production of<br />
national myths which not only exclude the [[violence]] and political upheaval<br />
embedded within the [[Canadian]] state but also the corresponding [[Indigenous]]<br />
resistances that continue to occur. We must not forget that [[Canada]] has actively<br />
engaged in multiple acts of regime replacement under the [[Indian]] Act. Many<br />
such acts have been extremely violent and have led not only to the im[[prison]]<br />
ment of [[Indigenous]] leaders, but also, in at least one instance, execution, which<br />
was the fate of Jake Fire in [[[[1899]]]].<br />
Perhaps the most emblematic representation of Prime Minister Harper's<br />
approach to [[history]] can be observed in his reification of [[Canada]] as a settler<br />
society unified under the constitutional legacy of the [[British]] [[Crown]]. This<br />
vision can be seen in [[Canada]]'s celebration of both the [[Queen]]'s Diamond Jubilee<br />
and the [[War]] of [[1812]]. The celebrations of these events could be read not only<br />
as ignoring the claims of [[Québec]], but also as denying [[Indigenous]] nationhood<br />
and [[Indigenous]] [[sovereignty]]. Such discursive sleights of hand are exceedingly<br />
troubling as they privilege a colonial interpretation of the past which suggests<br />
that there has been a unilateral assertion of [[Crown]] [[sovereignty]] while simul<br />
taneously denying [[Indigenous]] [[treaty]] relationships and interactions with the<br />
[[Crown]]. While [[Indigenous]] people have been acknowledged as [[British]] "allies"<br />
in the [[War]] of [[1812]], the singular focus on the [[America]]n invasion misrepre<br />
sents [[Indigenous]] involvement and their [[alliance]]s with the [[Crown]]. By focusing<br />
on these moments as uniquely "[[Canadian]]" vignettes, the Prime Minister has<br />
missed an opportunity to explore what is perhaps the most pivotal moment in<br />
"our shared [[history]]."<br />
The event which should be commemorated is the 250th anniversary of<br />
the Royal Proclamation of [[1763]] and the ratification of the [[Treaty]] of Niagara<br />
the following year. These are pivotal events in our shared [[history]] for they are<br />
the events which allowed for the sharing of the [[Indigenous]] territories now<br />
known as "[[Canada]]." While the Royal Proclamation is typically viewed as a<br />
unilateral declaration of [[Crown]] [[sovereignty]] and an attempt to deal with "the<br />
[[Québec]] problem," such an understanding is both misleading and historically<br />
inaccurate. As scholars such as John Borrows and Peter Russell remind us,</p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:25:24 UTC</code></p>
<p>202 / LABOUR/LE TRAVAIL 73</p>
<p>the historical significance of the Royal Proclamation does not culminate in<br />
[[1763]], but instead must be understood in relation to the [[treaty]] negotiations<br />
at Niagara involving some two thousand [[Indigenous]] leaders who represented<br />
nations throughout the [[America]]s. This [[treaty]] set forth an agreement in prin<br />
ciple which would allow for the sharing of select [[Indigenous]] lands while also<br />
maintaining, recognizing, and affirming the [[sovereignty]] of all nations (both<br />
settler and [[Indigenous]]) and the entrenchment of legal and constitutional<br />
pluralism.<br />
The prime minister is not alone in omitting these events from his narra<br />
tive of [[history]]. Historical amnesia is prevalent. However, despite the fact that<br />
these two events are commonly misunderstood, they truly represent our<br />
shared [[history]]. The Royal Proclamation and the subsequent [[Treaty]] of Niagara<br />
put forth a vision of [[Canada]] that must be remembered. As foundational con<br />
stitutional documents these represent a framework for political and legal<br />
reconciliation which to this day provides for the territorial existence of [[British]]<br />
[[North]] [[America]] and the subsequent legitimacy of the [[Canadian]] state. If our<br />
[[history]] is to be "shared," then the narrative offered by the Prime Minister on<br />
behalf of "all [[Canadian]]s" must more accurately reflect the sharing between<br />
nations and the agreement reached at Niagara.</p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:25:24 UTC</code></p>
	{% endblock %}