aenum==3.1.11
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
art==5.7
astor==0.8.1
async-timeout==4.0.2
asyncssh==2.12.0
attrs==22.1.0
autoflake==1.4
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
bandit==1.7.4
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
boto3==1.24.56
botocore==1.27.56
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164373/work
bs4==0.0.1
certifi==2022.6.15
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1656782830073/work
cfgv==3.3.1
cgrep==1.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click==8.1.3
clipboard==0.0.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
commonmark==0.9.1
conda==4.14.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1649385069444/work
cpuset-py3==1.0.2
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1657173995269/work
csv2yaml==0.2
cycler==0.11.0
darglint==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.5
docformatter==1.5.0
docopt==0.6.2
docutils==0.19
easy-scraper-py==1.0.0
ed==0.1.0
elastic-wikidata==0.1.0
entrypoints==0.4
eradicate==2.1.0
fastjsonschema==2.16.1
feedgenerator==2.0.0
filelock==3.8.0
findx==0.10.2
flake8==4.0.1
flake8-bandit==3.0.0
flake8-broken-line==0.4.0
flake8-bugbear==22.7.1
flake8-commas==2.1.0
flake8-comprehensions==3.10.0
flake8-debugger==4.1.2
flake8-docstrings==1.6.0
flake8-eradicate==1.3.0
flake8-isort==4.2.0
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
flake8-rst-docstrings==0.2.7
flake8-string-format==0.3.0
flask-bucket==0.0.1
flask-checkr==0.1.2
Flask-GoogleRecaptcha==0.5.8
Flask-Humanoid==1.0
flask-markdown2==0.0.3
Flask-Moment==1.0.4
Flask-OAuth==0.12
Flask-QRcode==3.1.0
Flask-SimpleMDE==0.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fn==0.4.3
fonttools==4.36.0
frozenlist==1.3.1
gastrodon==1.0.0
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
graph-notebook==3.5.3
greenlet==1.1.2
gremlinpython==3.6.1
grep==0.3.2
greppy==0.1.3
html2text==2020.1.16
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
humanize==4.3.0
identify==2.5.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imagesize==1.4.1
importlib-metadata==4.12.0
ipykernel==5.3.4
ipython==7.16.3
ipython-autotime==0.3.1
ipython-genutils==0.2.0
ipywidgets==8.0.1
isodate==0.6.1
isort==5.10.1
itables==1.2.0
itsdangerous==1.1.0
jedi==0.17.2
jinja-markdown==1.210911
jinja2-markdown==0.0.3
jmespath==1.0.1
json2yaml==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
logutils==0.3.5
lxml==4.9.1
Markdown==3.3.7
markdown-link-attr-modifier==0.2.0
markdown2==2.4.3
marko==1.2.1
MarkupSafe==2.0.1
matplotlib==3.5.3
mccabe==0.6.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.3.1
mkdocs-footermatter==1.0.0
multidict==6.0.2
mypy==0.971
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.4.0
neo4j==4.3.2
nest-asyncio==1.5.5
networkx==2.4
nodeenv==1.7.0
notebook==6.4.12
numpy==1.23.2
oauth2==1.9.0.post1
obs2mk==4.1.0
obsidian-blog==0.2.1
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.7.1
pathspec==0.9.0
pbr==5.10.0
pelican==4.8.0
pelican-redirect==1.0.2
pep8-naming==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip-search==0.0.12
platformdirs==2.5.2
powpow==0.0.4
pre-commit==2.20.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pyaml==21.10.1
pyash==0.1.0
pybars4==0.9.13
pycodestyle==2.8.0
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1649384802055/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycurl==7.45.1
pydocstyle==6.1.1
pydotenv==0.0.7
pyfindfiles==1.5.1
pyfindit==0.8
pyflakes==2.4.0
pyformat==0.7
Pygments==2.13.0
pygraphdb==2.0.1
PyLOD==0.1.12
pymarkdown==0.1.4
pymdown-extensions==9.5
PyMeta3==0.5.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.18.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857263093/work
python-box==6.0.2
python-dateutil==2.8.2
python-dotenv==0.21.0
python-frontmatter==1.0.0
python-slugify==5.0.2
pytimeparse==1.1.8
pytz==2022.2.1
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==23.2.1
qrcode==7.3.1
qtconsole==5.3.1
QtPy==2.2.0
rainbow-logging-handler==2.2.2
rdf2srl==1.0.11
rdflib==5.0.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
restructuredtext-lint==1.4.0
ret==0.1.4
rich==12.5.1
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1653464393916/work
s3transfer==0.6.0
scipy==1.9.0
scrunner==0.1.2
seaborn==0.11.2
sed==0.3.1
sedparse==0.1.2
sedpy==1.0.0
sedsed==2.0.0
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SPARQLWrapper==1.8.4
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
stevedore==4.0.0
tablib==3.2.1
taggo==0.18.0
temci==0.8.5
terminado==0.15.0
testmd==0.0.2
testpath==0.6.0
text-unidecode==1.3
timeago==1.0.15
toml==0.10.2
tomli==2.0.1
tooler==0.1.3
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets==5.3.0
typing_extensions==4.3.0
Unidecode==1.3.4
unify==0.5
untokenize==0.1.1
uritools==4.0.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
validators==0.18.2
virtualenv==20.16.3
watchdog==2.1.9
wcwidth==0.2.5
web-grepy==1.1.0
webencodings==0.5.1
wemake-python-styleguide==0.16.1
Werkzeug==1.0.1
widgetsnbextension==4.0.2
wikidata-dl==2022.3.4
wptools==0.4.17
WTForms==3.0.1
yaml-expressions==0.2.1
yamldown==0.1.8
yarl==1.8.1
zipp==3.8.1
