{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#New #America #colonialism #indigenous #liberation #revolution #Indigenous '
title: Affiliate with the Indigenous Anarchist Federation</p>
<hr />
<p>Feed: [[Indigenous]] Anarchist Federation
Title: Affiliate with the [[Indigenous]] Anarchist Federation
Author: theverdantfuture
Date: Wed, 20 Jan 2021 23:30:43 -0500
Link: https://iaf-fai.org/2021/01/21/affiliate-with-the-[[indigenous]]-anarchist-federation/</p>
<p>The time has come to build a true federation of [[Indigenous]] anarchics. We need to
connect our struggles into a connected network of struggle. We do not advocate a
centralized leadership under a single organization, but instead seek to act as a
connecting point for a multitude of cells, groups, cooperatives, collectives, 
acting as the leaves and roots of the tree, feeding the struggle. The [[Indigenous]]
Anarchist Federation seeks to be the trunk of this tree, connecting all of the 
leaves and roots together sharing in a common purpose.</p>
<p>We are anti-colonial [[revolution]]aries. We struggle to liberate all colonized 
people without exception. Our internationalism is built on thousands of 
[[Indigenous]] nations, not on nation-states. We will not compromise 
anti-[[colonialism]] to fight for some proletariat who does not center 
anti-[[colonialism]] and abolition. There is no [[liberation]] until colonial legacies 
are firmly buried in the sands of time. Our [[revolution]] is as much social &amp; 
psychological, as it is material. Building new relations, unlearning toxic ways 
of relating, and growing a new world is what we seek.</p>
<p>Seperated, we can do a lot to build mutual aid and organize our communities 
against [[colonialism]]. Connected, we can do even more, sharing not only resources,
but also sharing information, expertise, and platforms. 
Affiliation creates a system whereby people have a clear understanding of where 
an organization stands. A group affiliated with the IAF-FAI has a clearly 
anarchic [[Indigenous]] project and rejects ‘authoritarian’ solutions to [[liberation]].
Affiliation allows for like-minded people to find each other through organizing.
With a visit to our website, people will be able to find budding new projects to
join and help grow.</p>
<p>Starting an IAF-FAI affiliated group starts with you and a few friends. If you 
launch a project, you can send us an email (admin@iaf-fai.org<a href="mailto:admin@iaf-fai.org" title="link">1</a>) stating your 
group name, a statement of agreement to the points of agreement and affiliation 
guide, your logo (you can use ours once you let us know you are affiliating, use
your own, or use both), and the lands your project covers (both colonial name 
and [[Indigenous]] lands, i.e., “[[New]]-Afrikan/Mvskoke Lands, Selma, Alabama”). If 
your group has a particular focus, such as a farming cooperative, tech, 
manufacturing, first aid, firearms training, general mutual aid, etc., you can 
include that as well. You can affiliate with more than one group, so if you want
to join up with Revolutionary Abolitionist Movement, Black Socialists in 
[[America]], Black Rose – Rosa Negra, etc., that is great!</p>
<p>If you are just one Black/[[Indigenous]] person, you can plant a seed with the 
IAF-FAI. Let us know you want to organize and provide us with a secure means of 
contacting you and the lands your project would cover. We will publish this as a
seed project, so that like-minded people regionally can get in touch. Building 
intital relations can be hard, but you are not as alone as you might think. We 
are here to help make these connections!</p>
<p>We get dozens of requests in our inbox regularly asking for local chapters to 
affiliate with. Again, we are not a centralized organization, so there are no 
chapters to join. If we have an affiliated group in your area you will see it 
posted on our website under the Get Into It tab. If we don’t have an affiliated 
group in your area, start one! The best way to learn how to run an organization 
is to run one. Take your time, be safe, and we can build resistance and dual 
power together!</p>
<p>Points of Agreement</p>
<p>What we are against: </p>
<ol>
<li>Anti-colonial, anti-authoritarian, anti-state, and anti-capitalist struggle 
 are inseparable in the struggle for [[liberation]].</li>
<li>Anti-Blackness has no place in [[Indigenous]] [[liberation]]. There can be no 
 [[Indigenous]] [[liberation]] without our Black/[[Indigenous]] relatives!</li>
<li>Patriarchy and sexual bigotry has no home in our struggle.</li>
<li>Domination in any form has not place in our struggle.</li>
<li>Killing unarmed civilians is never just. Only take up arms in defense 
 against attack or to deny the state the resources to attack.</li>
</ol>
<p>What we are for:</p>
<ol>
<li>We want a world where many worlds fit, a world free from coercive control 
 over individual expression, sexuality, and being.</li>
<li>Internationalism between [[Indigenous]] peoples must be steadfast, with 
 exception for those [[Indigenous]] organizations engaged in [[colonialism]], 
 authoritarianism, or capitalist domination.</li>
<li>We want to build autonomy, creating self sufficient, resilient systems that 
 provide for the needs of every person in our communities.</li>
<li>We fight to protect our lands in the short term and reclaim our lands in the
 long term.</li>
<li>We seek to create systems of decolonization for [[Indigenous]] people, both land
 connected &amp; displaced.</li>
<li>We will fight efforts by colonizers, fascists, and the state to harm people.</li>
<li>We seek to live as we should in nature, restoring balance and relation with 
 all plants, animals, fungi, lands, waters, and skies.</li>
<li>We seek to create technologies that do not rely on destructive resource 
 extraction to provide for people’s needs and comforts.</li>
</ol>
<p>Understanding of Affiliation with the IAF-FAI</p>
<ul>
<li>Must have a membership largely consisting of Black/[[Indigenous]] people and 
  center Black/[[Indigenous]] leadership.</li>
<li>Must agree with the points of agreement.</li>
<li>Must agree to disassociate with members who engage in actions that endanger 
  or dominate fellow [[revolution]]aries.</li>
<li>Must agree to practice good security culture when engaging with other 
  affiliated groups in the IAF-FAI.</li>
<li>
<p>Must agree not to work with the state or security entities.</p>
</li>
<li>
<p>Affiliated groups can freely use IAF-FAI logos, icons, colors, motifs, etc.,
  freely.</p>
</li>
<li>Affiliated groups can freely raise objections on actions of other affiliated
  groups.</li>
<li>Affiliated groups can freely leave.</li>
<li>
<p>Affiliated groups can freely ask other organizations, who adopt the points 
  of agreement and meet affiliation requirements, to affiliate with the 
  federation.</p>
</li>
<li>
<p>Affiliated groups will not be asked by IAF-FAI to provide or keep membership
  lists.</p>
</li>
<li>Affiliated groups will not be asked by IAF-FAI to adopt any name or logo.</li>
<li>Affiliated groups will not be asked by IAF-FAI to engage in any specific 
  tactics.</li>
<li>
<p>Affiliated groups will not be asked by IAF-FAI to spend monetary resources 
  in any way, aside from that the funds not be used to enrich certain members of
  the affiliated group.</p>
</li>
<li>
<p>Resources gathered by the IAF-FAI shall be made available, as they become 
  available, to affiliated groups conducting mutual aid, infrastructure 
  development, and the building of dual power. </p>
</li>
<li>Resources may be gathered by affiliated groups in the name of the IAF-FAI so
  long as their specific group explains which organization will be receiving and
  utilizing the funds.</li>
</ul>
<p>Links: </p>
	{% endblock %}