{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #Great #Huron #New #America #Aboriginal #science #American #Treaty
  #Ojibwe #Cree #2008 #treaty #August #Bay #Native #Ottawa #Indian #indigenous #mental
  #North #history #Africa #2000 #sovereignty #2018 #Canadian #French #United #States
  #experiment #science #1600 #1760 #1780 #1785 #1845 #1890 #1893 #1900 #1923 #1934
  #1940 #1946 #1955 #1960 #War #Northern #Eastern #Donald #Indigenous #Racism '
title: An Anishinaabe Studies Sylabus</p>
<hr />
<p>Feed: An [[Indigenous]] History of [[North]] [[America]]
Title: An Anishinaabe Studies Syllabus
Author: Kai
Date: Wed, 15 Aug [[2018]] 07:26:34 -0400
Link: https://[[indigenous]][[history]].wordpress.com/[[2018]]/08/15/an-anishinaabe-studies-syllabus/</p>
<p>Inspired by many other public syllabuses such as the #FergusonSyllabus, </p>
<h1>CharlestonSyllabus, #StandingRockSyllabus, and others, I decided to create a</h1>
<p>“syllabus” (more like a generic reading list) of Anishinaabe Studies. This was, 
in part, an [[experiment]] I have wanted to do for a while, in response to a number 
of academics (including some Anishinaabe scholars!) who told me there wasn’t 
enough material to claim the existence of Anishinaabe Studies as a field. There 
are, as of [[August]] 15th [[2018]], over 80 different books (plus a few articles) on 
this list, most of them by Anishinaabe writers. This doesn’t even begin to touch
the vast amounts of Anishinaabe writing that is not in the form of book-length 
scholarship.</p>
<p>This list is very much a work in progress and I welcome additions and 
suggestions! Many sections are particularly incomplete, like the [[history]] 
sections and the gender/sexuality sections. And since I’m only one person, I’m 
sure my biases show (there is a lot of Wisconsin/Minnesota [[Ojibwe]] material, 
which is just because that’s where I grew up and what I know). Please note that 
I have not read everything on this list and can’t vouch for all of it being 
perfect. I offer it anyway with the idea that most of it, hopefully, is worth 
engaging with. In addition, I hope to make a version of this at some point 
specifically focusing on non-scholarly material and things that can be accessed 
for free–but I am also a student about to start the school year, so that may be 
a ways off.</p>
<p>Note: I have chosen to use Anishinaabe as a catch-all umbrella for those [[Native]] 
people who speak a variety of the language known as Anishinaabemowin, or who are
citizens of a nation that was part of the Three Fires of [[Ojibwe]], Odawa, and 
Potawatomi people. Please correct me if I have mislabeled anyone’s identity. I 
have tried to include authors’ tribal affiliation where applicable; Anishinaabe 
authors are identified by their band or tribe alone in most cases.</p>
<p>Mino-agindaasog!</p>
<p>EGINDAMANG JI-GIKENIMIGOYAANG ENISHINAABEWIYAANG:
AN ANISHINAABE STUDIES SYLLABUS</p>
<p>Anishinaabemowin and Anishinaabe epistemologies</p>
<ul>
<li>Leanne Simpson (Alderville), Dancing on Our Turtle’s Back: Stories of 
  Nishnaabeg Re-creation, Resurgence and a [[New]] Emergence</li>
<li>Lawrence Gross (White Earth), Anishinaabe Ways of Knowing and Being</li>
<li>GLIFWC, Dibaajimowinan: Anishinaabe Stories of Culture and Respect</li>
<li>Leanne Simpson (Alderville), The Gift is in the Making: Anishinaabeg Stories</li>
<li>Eds. Jill Doerfler (White Earth), Niigaanwewidam James Sinclair (St. 
  Peter’s/Little Peguis), Heidi Kiiwetinepinesiik Stark (Turtle Mountain), 
  Centering Anishinaabeg Studies: Understanding the World Through Stories</li>
<li>Thomas D. Peacock (Fond Du Lac), Marlene Wisuri, [[Ojibwe]] Waasa Inaabidaa: We 
  Look in All Directions</li>
</ul>
<p>Anishinaabe law and governance</p>
<ul>
<li>Cary Miller (St. Croix/Leech Lake descendant), Ogimaag: Anishinaabeg 
  Leadership, [[1760]]-[[1845]]</li>
<li>Jill Doerfler (White Earth), Those Who Belong: Identity, Family, Blood, and 
  Citizenship Among the White Earth Anishinaabeg</li>
<li>Heidi Kiiwetinepinesiik Stark (Turtle Mountain), Stealing fire, scattering 
  ashes: Anishinaabe expressions of [[sovereignty]], nationhood, and land tenure in 
  [[treaty]] making with the [[United]] [[States]] and [[Canada]], [[1785]]—[[1923]] (dissertation)</li>
<li>John Borrows (Chippewas of Nawash), Drawing Out Law: A Spirit’s Guide</li>
<li>Anton Treuer (Leech Lake), The Assassination of Hole-in-the-Day</li>
</ul>
<p>Anishinaabe knowledge and [[[[science]]]] </p>
<ul>
<li>Wendy Makoons Geniusz ([[Cree]]/Métis), Our Knowledge Is Not Primitive: 
  Decolonizing Botanical Anishinaabe Teachings</li>
<li>Rheault Ishpeming’enzaabid D’arcy (Nipissing Anishinaabe descendant), 
  Anishinaabe Mino-Bimaadiziwin (dissertation)</li>
<li>Robin Wall Kimmerer (Citizen Potawatomi), Braiding Sweetgrass: [[Indigenous]] 
  Wisdom, Scientific Knowledge and the Teachings of Plants</li>
<li>Robin Wall Kimmerer (Citizen Potawatomi) Gathering Moss: A Natural and 
  Cultural History of Mosses</li>
<li>Mary Sisiip Geniusz ([[Cree]]/Métis), Plants Have So Much to Give Us, All We 
  Have to Do Is Ask</li>
<li>Basil Johnston (Chippewas of Nawash), Honor Mother Earth</li>
</ul>
<p>History to [[1900]]</p>
<ul>
<li>Michael Witgen (Red Cliff), Infinity of Nations: How the [[Native]] [[New]] World 
  Shaped Early [[North]] [[America]]</li>
<li>Mattie Harper (Bois Forte), [[French]] [[Africa]]ns in [[Ojibwe]] Country: Negotiating 
  Marriage, Identity and Race, [[1780]]-[[1890]] (dissertation)</li>
<li>Phil Bellfy (White Earth), Three Fires Unity: The Anishnabeg of the Lake 
  [[Huron]] Borderlands</li>
<li>[[Donald]] B. Smith, Mississauga Portraits: [[Ojibwe]] Voices from 
  Nineteenth-Century [[Canada]]</li>
<li>Theodore Karamanski, Blackbird’s Song: Andrew J. Blackbird and the Odawa 
  People</li>
<li>Heidi Bokaher, Nindoodemag: Anishinaabe Identities in the [[Eastern]] [[Great]] 
  Lakes Region, [[1600]] to [[1900]] (dissertation)</li>
</ul>
<p>Early Anishinaabe literature</p>
<ul>
<li>Gerald Vizenor (White Earth), Songs in the Spring: Anishinaabe Lyric Poems 
  and Stories</li>
<li>Jane Johnston Schoolcraft (Lake Superior [[Ojibwe]]), The Sound the Stars Make 
  Rushing Through the Sky</li>
<li>Bethany Schneider, “Not for Citation: Jane Johnston Schoolcraft’s Synchronic
  Strategies” in ESQ: A Journal of the [[America]]n Renaissance 54:1-4 ([[2008]])</li>
<li>Christine R. Cavalier, “Jane Johnston Schoolcraft’s Senti[[mental]] Lessons: 
  [[Native]] Literary Collaboration and Resistance in MELUS 38:1</li>
<li>William [[War]]ren (Lake Superior [[Ojibwe]]), A History of the Ojibway People</li>
<li>Andrew Blackbird (L’Arbre Croche Odawa), History of the [[Ottawa]] and Chippewa 
  [[Indian]]s of Michigan</li>
<li>Simon Pokagon (Pokagon Potawatomi), The Red Man’s Rebuke and other 
  publications</li>
</ul>
<p>[[America]]n and [[Canadian]] colonization </p>
<ul>
<li>Ignatia Broker (White Earth), Night Flying Woman: An Ojibway Narrative</li>
<li>John P. Bowes, Land Too Good for [[Indian]]s: [[North]]ern [[Indian]] Removal</li>
<li>Basil Johnston (Chippewas of Nawash), [[Indian]] School Days</li>
<li>Brenda Child (Red Lake), Boarding School Seasons: [[America]]n [[Indian]] Families, 
  [[1900]]-[[1940]]</li>
<li>Winona LaDuke (White Earth), The Militarization of [[Indian]] Country</li>
<li>Erik Redix (Lac Courte Oreilles), The Murder of Joe White: [[Ojibwe]] Leadership
  and Colonialism in Wisconsin</li>
</ul>
<p>Anishinaabe art</p>
<ul>
<li>David Penney, Gerald McMaster (Plains [[Cree]]/Siksika), Before and After the 
  Horizon: Anishinaabe Artists of the [[Great]] Lakes</li>
<li>Carmen L. Robertson (Lakota), Mythologizing Norval Morrisseau: Art and the 
  Colonial Narrative in the [[Canadian]] Media</li>
<li>Daphne Odjig (Wiikwemkoong), Odjig: The Art of Daphne Odjig, [[1960]]-[[2000]]</li>
<li>Gertrude Prokosch Kurath, Fred Ettawageshik (Little Traverse [[Bay]] Band), Jane
  Ettawageshik (Little Traverse [[Bay]] Band), The Art of Tradition: Sacred Music, 
  Dance, &amp; Myth of Michigan’s Anishinaabe, [[1946]]-[[1955]]</li>
<li>Michael D. McNally, [[Ojibwe]] Singers: Hymns, Grief, and a [[Native]] Culture in 
  Motion</li>
<li>Kirsten Buick, Child of the Fire: Mary Edmonia Lewis and the Problem of Art 
  History’s Black and [[Indian]] Subject</li>
</ul>
<p>Gender and sexuality</p>
<ul>
<li>Brenda Child (Red Lake), Holding Our World Together: [[Ojibwe]] Women and the 
  Survival of the Community</li>
<li>Robert Innes (Cowessess), Kim Anderson (Métis), [[Indigenous]] Men and 
  Masculinities</li>
<li>Lisa Poupart (Lac Du Flambeau), “[[Ojibwe]] Women of the [[Great]] Lakes” in Women’s
  Rights: A Global View</li>
<li>Kim Anderson (Métis), Life Stages of [[Native]] Women: Memory, Teachings, and 
  Story Medicine</li>
</ul>
<p>Modern Anishinaabe literature
(Waaaaay too many to list exhaustively. Some suggestions to get you started…)</p>
<ul>
<li>Fiction: Louise Erdrich (Turtle Mountain), Gerald Vizenor (White Earth), 
  Leanne Simpson (Alderville), Carole laFavor ([[Ojibwe]]), Lois Beardslee 
  (Anishinaabe/Lacandon), Ruby Slipperjack (Whitewater Lake), Drew Hayden Taylor
  (Curve Lake), David Treuer (Leech Lake), E. [[Donald]] Two-Rivers (Seine River)</li>
<li>Poetry: Louise Erdrich (Turtle Mountain), Heid Erdrich (Turtle Mountain), 
  Gerald Vizenor (White Earth), Leanne Simpson (Alderville), Kateri 
  Akiwenzie-Damm (Chippewas of Nawash), Gwen Benaway (Métis/Anishinaabe), 
  Margaret Noodin ([[Ojibwe]]), Leslie Belleau (Garden River), Lenore Keeshig Tobias
  (Chippewas of Nawash), Mark Turcotte (Turtle Mountain), Kimberly Blaeser 
  (White Earth), E. [[Donald]] Two-Rivers (Seine River)</li>
<li>Nitaawichige: Selected Poetry and Prose by Four Anishinaabe Writers</li>
<li>Stories Migrating Home: A Collection of Anishinaabe Prose</li>
<li>Traces in Blood, Bone, And Stone: Contemporary [[Ojibwe]] Poetry</li>
</ul>
<p>20^th and 21^st century [[history]]</p>
<ul>
<li>Rosalyn LaPier (Blackfeet/Métis), David Beck, City [[Indian]]s: [[Native]] [[America]]n 
  Activism in Chicago, [[1893]]-[[1934]]</li>
<li>John Low (Pokagon Potawatomi), Imprints: The Pokagon Band of Potawatomi 
  [[Indian]]s and the City of Chicago</li>
<li>Larry Nesper, The Walleye [[War]]: The Struggle for [[Ojibwe]] Spearfishing and 
  [[Treaty]] Rights</li>
<li>Julie L. Davis, Survival Schools: The [[America]]n [[Indian]] Movement and Community
  Education in the Twin Cities</li>
<li>Chelsea Vowel (Métis), [[Indigenous]] Writes: A Guide to First Nations, Métis &amp; 
  Inuit Issues in [[Canada]]</li>
<li>Tanya Talaga (Fort William descendant), Seven Fallen Feathers: [[Racism]], 
  Death, and Hard Truths in a [[North]]ern City</li>
<li>Eds. Nigaanwewidam James Sinclair (St. Peter’s/Little Peguis) and [[War]]ren 
  Cariou (Métis), Manitowapow: [[Aboriginal]] Writings from the Land of Water</li>
<li>David Treuer (Leech Lake), Rez Life</li>
<li>Brenda Child (Red Lake), My Grandfather’s Knocking Sticks: [[Ojibwe]] Family 
  Life and Labor on the Reservation</li>
<li>Brian D. McInnes, Sounding Thunder: The Stories of Francis Pegahmagabow</li>
</ul>
<p>Decolonization/Biskaabiiyang</p>
<ul>
<li>Christopher Wetzel, Gathering the Potawatomi Nation: Revitalization and 
  Identity</li>
<li>Maureen Matthews, Naamiwan’s Drum: The Story of a Contested Repatriation of 
  Anishinaabe Artefacts</li>
<li>Leanne Betasamosake Simpson (Alderville), As We Have Always Done: [[Indigenous]]
  Freedom Through Radical Resistance</li>
<li>Winona LaDuke (White Earth), Recovering the Sacred: the Power of Naming and 
  Claiming</li>
<li>Winona LaDuke (White Earth), All Our Relations: [[Native]] Struggles for Land 
  and Life</li>
</ul>
	{% endblock %}