{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #1971 #China #slavery #government #April #climate #September #January
  #Great #Yukon #arctic #November #property #June #1992 #indian #New #Quebec #Italy
  #South #America #May #2002 #Aboriginal #1977 #science #American #King #2015 #1999
  #2017 #Manitoba #2007 #Denmark #Arctic #Treaty #Cree #treaty #2019 #August #1973
  #representative #Native #corn #Ottawa #1995 #Vancouver #Crown #March #Indian #indigenous
  #Toronto #mental #Poland #North #Korea #1991 #1987 #history #2006 #Trudeau #British
  #Europe #Winnipeg #Congress #1996 #October #treaties #smallpox #Washington #Russia
  #Korea #protest #1985 #2011 #014 #Spain #February #2018 #Canadian #French #aboriginal
  #United #States #science #research #Research #Pope #1493 #2001 #1763 #1876 #1883
  #1927 #1945 #1968 #Attorney #companies #War #UK #Northern #Southern #Alaska #Nunavut
  #Territories #Trudeau #President #warrior #Indigenous #Saskatchewan #Obama '
title: Canadian arctic agenda</p>
<hr />
<h1>Canada’s Arctic Agenda</h1>
<blockquote>
<h2>Excerpt</h2>
<p>Converts PDF files to Markdown.</p>
</blockquote>
<hr />
<h4>Centre for International Governance Innovation</h4>
<h4>Report Part Title: Nation to Neighbour</h4>
<h4>Report Title: [[Canada]]’s [[Arctic]] Agenda:</h4>
<h4>Report Subtitle: Into the Vortex</h4>
<h4>Centre for International Governance Innovation ( [[2019]] )</h4>
<h4>Stable URL: http://www.jstor.com/stable/resrep21105.</h4>
<p>JSTOR is a not-for-profit service that helps scholars, [[research]]ers, and students discover, use, and build upon a wide<br />
range of content in a trusted digital archive. We use information technology and tools to increase productivity and<br />
facilitate new forms of scholarship. For more information about JSTOR, please contact support@jstor.org.</p>
<p>Your use of the JSTOR archive indicates your acceptance of the Terms &amp; Conditions of Use, available at<br />
https://about.jstor.org/terms</p>
<p><code>Centre for International Governance Innovation is collaborating with JSTOR to digitize,
preserve and extend access to this content.</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>6</h5>
<p>This content downloaded from<br />
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</p>
<h5>7</h5>
<h2>Nation to Neighbour</h2>
<p><code>Tony Penikett</code></p>
<h3>Good Intentions?</h3>
<p><code>The stated intentions of [[government]] policies toward [[Indigenous]] peoples
always deserve close examination.</code></p>
<p><code>On Christopher Columbus’s return from his first voyage to the [[America]]s in [[1493]],
[[Pope]] Alexander VI “awarded” the [[New]] World to [[Spain]]’s rulers, Ferdinand and
Isabella (Alexander VI [[1493]]). As the world knows, for [[Indigenous]] [[America]]ns,
slaughter, [[slavery]] and [[smallpox]] soon followed. University of London scientists
found that this Amer[[indian]] genocide caused the reforestation of Latin
[[America]]’s [[corn]] fields and, consequently, the eighteenth century’s Little Ice
Age, which froze the River Thames — obviously an unintended consequence
(Bodkin [[2019]]).</code></p>
<p><code>In this period, [[Ottawa]] [[warrior]] chief Pontiac, a military genius, organized a
powerful [[Indigenous]] resistance against [[British]] colonization of the western
[[Great]] Lakes region. In response, on [[October]] 7, [[1763]], England’s [[King]] George
III issued the Royal Proclamation that reorganized [[British]] colonies in [[North]]
[[America]] and affirmed that “the several Nations or Tribes of [[Indian]]s.. .who live
under our Protection, should not be molested or disturbed in the Possession
of.. .their Hunting Grounds .”^1 Meanwhile, the [[Crown]] negotiator Sir William
Johnson wrote: “The [[Indian]]s of the [[Ottawa]] Confederacy...also the Six
Nations...were amused by both parties [the [[British]] and [[French]]] with stories
of their upright intentions, and that they made [[War]] for the protection of the</code></p>
<p><code>1 See https://[[indigenous]]foundations .arts .ubc .ca/royal_proclamation_[[1763]]/.</code></p>
<p>This content downloaded from<br />
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</p>
<h5>8</h5>
<p>[[Canada]]’s [[Arctic]] Agenda: Into the Vortex</p>
<p><code>[[Indian]] rights, but they plainly found, it was carried on to see who would become masters
of what was the [[property]] of neither the one nor the other” (Tully [[1995]], 119).</code></p>
<h3>Colonization</h3>
<p><code>Nevertheless, in consequence of the Royal Proclamation, the [[United]] [[States]] negotiated
hundreds of [[Indian]] [[treaties]], almost all of which were subsequently violated by [[America]]n
authorities. We might ask: was that their original intention?</code></p>
<p><code>At Fort Carlton in [[August]] [[1876]], [[Canada]] negotiated [[Treaty]] 6 with 2,000 starving [[Cree]]
Assiniboine and Ojibwa hunters and their families. Much nation-to-nation ceremony
attended the negotiations and [[Canada]]’s [[representative]]s routinely invoked the honour of
the [[Crown]] (Erasmus [[1999]], 238). But, that same year, Parliament approved the [[Indian]]
Act, which infantilized First Nations peoples by making them wards of the federal
state. Then, in [[1927]], [[Canada]] forbade [[Indian]] Nations from hiring lawyers to press their
land claims — early in the twentieth century, [[Canada]] still spoke with a forked tongue.
However, in [[February]] [[1973]], [[Canada]]’s Supreme Court rendered a split decision on Calder ,
the Nisga’a Nation’s land rights lawsuit against the Government of [[British]] Columbia,
which had asserted that the Royal Proclamation did not apply to the province.^2 The
decision led Prime Minister Pierre [[[[Trudeau]]]] to send negotiators to those areas without
[[treaties]]: [[British]] Columbia, northern [[Quebec]], [[North]]west [[Territories]] and [[Yukon]] Territory.</code></p>
<p><code>[[Canadian]]s may now see colonial horrors simply as ancient [[history]] but still ask reasonable
questions about the intentions of today’s politicians. In its early days, given a choice
between assimilation and accommodation, [[Canada]]’s [[government]] chose assimilation ,
a policy revealed in Prime Minister John A. Macdonald’s notorious defence of the
residential school system before the House of Commons ([[Canada]] [[1883]], 1107-8). Late in
the twentieth century, opinion shifted toward accommodation. One hundred and thirty-
two years after Macdonald’s statement before Parliament, the Truth and Reconciliation
Commission of [[Canada]] ([[2015]]) published its 94 Calls to Action. On [[March]] 16, [[2018]],
Simon Fraser University hosted a BC Reconciliation Conference, which asked of those
94 calls: “When are we going to get to the hard stuff ?” This remains an excellent question.</code></p>
<h3>The [[Arctic]] and Modern [[North]]ern Treaties</h3>
<p><code>In the [[Arctic]], “two solitudes” existed, not as the English and [[French]] divide described in
Hugh MacLennan’s masterpiece ([[1945]]), but as distinct [[Indigenous]] and settler communities.
Justice Thomas R. Berger’s report on the Mackenzie Valley Pipeline Inquiry, [[North]]ern
Frontier, [[North]]ern Homeland ([[1977]]), explored the collision of competing [[Indigenous]] and
settler aims for the Far [[North]]. For decades, the federal Ministry of [[Indian]] and [[North]]ern
Affairs perpetuated this duality. Under this regime, ignorance and absurdity often reigned,
as when, for example, [[Ottawa]] ordered the territories to host [[Canada]] Day fireworks displays
in the Land of the Midnight Sun, the one region where few could enjoy them.</code></p>
<p><code>Back in [[1968]], when oil was discovered in [[Alaska]], the [[America]]n [[government]] and oil</code></p>
<p><code>2 Calder et al v [[Attorney]]-General of [[British]] Columbia , [[[1973]]] SCR 313.</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>9</h5>
<p><code>Nation to Neighbour • Tony Penikett</code></p>
<p>[[companies]] set about building a pipeline, until the [[Alaska]] Federation of [[Native]]s told<br />
them that they did <em>not</em> own the land along the pipeline route. Land claim negotiations<br />
got underway in the halls of the US [[Congress]]. By [[1971]], [[Congress]] had passed the [[Alaska]]<br />
[[Native]] Claims Settlement Act <em>,</em> which returned 178,000 km^2 of land to [[Native]] control, but<br />
under forms of <em>corporate</em> , not tribal, governance. Inspired by the scale of the settlement for<br />
[[Alaska]] [[Native]]s, their tribal cousins (Gwich’in, Han, Tanana and Tlingit) in [[Yukon]] and<br />
[[North]]west [[Territories]] (Dene and Inuit) also filed land claims.</p>
<p>After the Supreme Court of [[Canada]] ruled on the Nisga’a [[treaty]] rights case in [[1973]],<br />
[[[[Trudeau]]]]’s [[representative]]s arrived in the [[North]] to set up the [[treaty]]-negotiating tables. In<br />
[[2006]], I published <em>Reconciliation: First Nations [[Treaty]] Making,</em> a book about the glacial pace<br />
of these negotiations. In the course of this work, a finance official opined that it was far<br />
cheaper to negotiate forever than to finalize [[treaties]] — clearly, a penny-wise, pound-foolish<br />
policy. The BC [[Treaty]] Commission report <em>Looking Back, Looking Forward: A Review of the<br />
BC Process</em> ([[2001]], 4) argued that “before [[1991]], road blockades, angry rhetoric and litigation<br />
filled the daily news. Now, most First Nations in BC have chosen [[treaty]] negotiations<br />
over direct action and lawsuits” — an admission that, for the Government of BC [[Treaty]]<br />
Commission, negotiations meant <em>management</em> of the [[Indian]] issue.</p>
<p>As Douglas McArthur ([[2002]]) argues, federal officials intentionally wrote mandates as<br />
prescriptive formulas based, in part, on per capita cash calculations. First Nations negotiators<br />
[[protest]]ed that, rather than promoting reconciliation, such mandates were designed to<br />
manipulate the [[Indigenous]] [[treaty]] parties (Penikett [[2006]], 161–73). Cowichan chief Lydia<br />
Hwitsum likened “cookie-cutter” mandates to bureaucratic culture. She contrasted that<br />
mindset with the give-and-take needed for effective negotiations (ibid ., 159).</p>
<p>Federal negotiators readily conceded that [[treaties]] based on precedent were supposed to<br />
assure that modern [[treaties]] would be broadly equitable. Nevertheless, federal negotiator<br />
Jim Barkwell declared that “prescriptive mandates and excessive rigidity are enemies of<br />
interest-based agreements, while vision and principled flexibility are their friends” (ibid .,<br />
163). Nisga’a Nation negotiator Jim Aldridge added that, for [[Canada]], “[[aboriginal]] title is<br />
a burden” that its negotiators sought to remove “for the cheapest possible cost” (ibid .).<br />
Should financial considerations ever trump those of justice?</p>
<p>Just at the point when [[Arctic]] states started talking to [[Indigenous]] northerners, an equally<br />
important event occurred: settler populations in [[Arctic]] cities began to dialogue with<br />
their [[Indigenous]] neighbours. These dialogues produced [[Canada]]’s first [[Aboriginal]] self-<br />
[[government]] agreements; agreements which, decades after their negotiation, still represent <em>half</em><br />
of all such agreements in our country. Why was the regional [[government]] role so significant?<br />
The answer is that in self-[[government]] negotiations, there was little federal jurisdiction on<br />
the table. Innovative power-sharing accords between [[Indigenous]] and Territorial leaders<br />
underpinned these breakthrough self-[[government]] agreements.</p>
<p>In time, 20 northern land [[treaties]] covered the northern 40 percent of [[Canada]]’s land mass and<br />
recognized collective “tribal” title to 500,000 km^2. These modern twentieth-century [[treaties]]<br />
dwarf their nineteenth-century counterparts. For example, the [[Yukon]] settlement provides<br />
41,000 km^2 for 7,000 first citizens — more land than is contained in all reserves in [[South]]ern</p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>10</h5>
<p>[[Canada]]’s [[Arctic]] Agenda: Into the Vortex</p>
<p><code>[[Canada]]. [[Yukon]] First Nations, [[Canada]] and, as noted, the [[Yukon]] Territorial Government
also negotiated [[Canada]]’s first third-order [[Indigenous]] self-[[government]] agreements.</code></p>
<p><code>In the same time frame, Greenlanders achieved home rule and then self-[[government]], while
the Saami people in Norway won the Finnmark Act, a form of co-management borrowed
from northern [[Canadian]] [[treaties]]. In [[1987]], Mikhail Gorbachev promised to make the
[[Arctic]] “a zone of peace .”^3 He invited the [[Arctic]] states to dialogue about security issues and
environ[[mental]] questions, and to include their [[Indigenous]] populations. With the end of the
Cold [[War]], [[Indigenous]] land-rights negotiations around the [[Arctic]] accelerated.</code></p>
<p><code>With the best of intentions, [[Canada]] helped create the [[Arctic]] Council, but the eight
founding states based the organization on the fiction that the [[Arctic]] region consists only
of nation-states and [[Indigenous]] peoples. With the [[1996]] [[Ottawa]] Declaration, eight [[Arctic]]
states acknowledged the successful [[Indigenous]] rights struggles in [[Alaska]], [[North]]west
[[Territories]], [[Quebec]] and [[Yukon]], and recognized six [[Indigenous]] Permanent Participants
(Aleut, Athabascan, Gwich’in, Inuit, Saami and [[Russia]]n), each with a voice in Council
proceedings.^4 That [[Indigenous]] [[representative]]s now sit at the [[Arctic]] ministers’ table is a
great innovation, one that likely would not have happened without northern land-[[treaty]]
negotiations between federal states, [[Arctic]] village leaders and settler [[government]]s based in
[[Arctic]] cities.</code></p>
<p><code>Regrettably, the [[Arctic]] Council left out settler cities and regional [[government]]s that
represent the vast majority of [[Arctic]] residents, leaving them without a single seat at the
ministers’ table. Nevertheless, [[China]], Germany, India, [[Italy]], Japan, the Republic of [[[[Korea]]]],
the Netherlands, [[Poland]], Singapore, [[Spain]], the [[United]] [[King]]dom and others were invited
to join as [[Arctic]] Council observers.</code></p>
<p><code>What’s wrong with privileging six international [[Indigenous]] organizations? Nothing — but
when, in [[1999]], the [[North]]ern Forum representing [[Arctic]] regional [[government]]s, who, with
[[Indigenous]] authorities, nowadays do most of the governing (hospitals, roads, schools and
so on) in the [[Arctic]], asked for a single seat at the ministerial table, the eight [[Arctic]] nation-
states rejected their application (Penikett [[2017]], 86).</code></p>
<p><code>What was [[Canada]] and other states’ intention here? Did slick spin doctors persuade [[Arctic]]
ministers that occupants of air-conditioned workstations in distant capitals adequately
represented the views of [[North]]ern residents? Ask residents of Tromsø, Yellowknife or Fairbanks
if [[government]] officials in faraway capitals speak for them, and they’ll laugh in your face.</code></p>
<p><code>By repute, [[Alaska]] is a fairly conservative state, but even during Barack [[Obama]]’s time
in the White House, polls showed that [[Alaska]]n [[Indigenous]] communities trusted their
state [[government]] in [[June]]au more than they did [[Washington]] or the White House (EKOS
[[Research]] Associates [[2011]]). As Ólafur Ragnar Grímsson, the former president of Iceland,
observes, in the [[Arctic]] it is the federal states — [[Canada]], [[Denmark]], [[Russia]] and the [[United]]
[[States]] — that operate at the greatest physical and psychological distance from regions they
claim to rule (Penikett [[2017]], 2-3).</code></p>
<p><code>3 See www .barentsinfo .fi/docs/Gorbachev_speech .pdf.
4 See https://oaarchive .[[arctic]]-council .org/handle/11374/.</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>11</h5>
<p><code>Nation to Neighbour • Tony Penikett</code></p>
<h3>Transformation</h3>
<p>Modern land claims [[treaties]], devolution and self-[[government]] agreements transformed the<br />
Far [[North]]:</p>
<ul>
<li>[[Alaska]] [[Native]]s have land, money and political power;</li>
<li>[[Indigenous]] villages in [[Yukon]] and [[North]]west [[Territories]] enjoy regional [[government]]<br />
  powers;</li>
<li>The [[North]]west [[Territories]] and [[Nunavut]] boast consensus legislatures;</li>
<li>Greenlanders achieved home rule and self-[[government]] and are now debating when to<br />
  become a nation-state;</li>
<li>Norway’s Finnmark County has co-management of lands and resources; and</li>
<li>the Inuit of [[Nunavut]] are collectively the largest private landowners in the world.</li>
</ul>
<p>All this happened with the cooperation of regional [[government]]s. Young scholars sometimes<br />
paint modern [[treaties]] as just another form of assimilation, but the peace and prosperity of<br />
the [[Arctic]]’s self-governing Nations, in contrast to the situation on many [[South]]ern reserves,<br />
would impress [[Canadian]]s, if they knew the facts.</p>
<p>Sixty years ago, [[Ottawa]] talked down to [[North]]ern and [[Indigenous]] communities. Over time,<br />
[[North]]erners began to talk back. Nowadays, village chiefs and legislators in [[Arctic]] cities are<br />
learning to govern together. Over two generations, [[North]]ern [[Indigenous]] and settler leaders<br />
negotiated an astonishing array of syncretic compromises: collective “tribal” ownership of<br />
titled land; [[treaty]]-based fish, game and land co-management boards, which replace the<br />
old-order fish harvesting priorities with a new hierarchy: conservation first; subsistence<br />
second; recreation uses third; and commercial uses fourth. [[Indigenous]] and settler leaders<br />
today work together on issues such as boom-and-bust economies, fair returns from<br />
resource developments, as well as suicide prevention and [[climate]] change. For [[North]]erners,<br />
<em>decolonization</em> is a shared goal. In the interest of reconciliation, perhaps it is time now for<br />
the [[South]] to start learning from the [[North]]?</p>
<h3>[[North]]ern Models</h3>
<p>With the election of a new Liberal administration in [[2015]], [[Canada]]’s federal [[government]]<br />
embraced [[climate]] action and the Trans Mountain pipeline, as well as the process of<br />
reconciliation. As it happens, the one area where reconciliation is becoming a reality is<br />
the Far [[North]]. Unfortunately, hardly anybody in [[Ottawa]] has noticed. With good reason,<br />
[[North]]erners support the broad objectives of Justin [[[[Trudeau]]]]’s reconciliation policy. But<br />
what are the prime minister’s intentions? Are they accurate expressions of settled [[Canadian]]<br />
principles and values? Or are we skating on a thin-ice consensus? One doesn’t need to<br />
search far for contrarian voices. As an example, in a recent opinion piece for the <em>National<br />
Post</em> , Conrad Black ([[2019]]) resurrected the legally problematic <em>terra nullius</em> or “empty land”<br />
thesis of [[America]]’s colonization, arguing that opposition parties in [[Canada]] should take up,<br />
rather than pursue reconciliation, “the position that the [[Europe]]ans and other immigrants<br />
who came to [[Canada]] moved into largely vacant land .”</p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>12</h5>
<p>[[Canada]]’s [[Arctic]] Agenda: Into the Vortex</p>
<p><code>Black reminds us that [[Canadian]]s have yet to seriously debate what might constitute our
principles of reconciliation. That said, [[Ottawa]]’s ambitions may be too vague. Based on media
reports, the responsible officials must have hundreds of reconciliation files on their desks, but
how many has the Treasury Board funded? Who is managing this workload? By promising
so much, is the prime minister building disappointment?</code></p>
<p><code>[[Canada]] has created a new ministry of [[Crown]]-[[Indigenous]] Relations and [[North]]ern Affairs,
and Prime Minister [[[[Trudeau]]]] commendably deals directly with Inuit Tapirit Kanatami (ITK)
[[President]] Natan Obed on serious issues such as Inuit education. But what role do the four
regional [[government]]s with Inuit [[treaty]] settlements and jurisdiction over schools play in such
exchanges? ITK is not a [[government]], yet Obed envisions developing ITK’s program delivery
and self-[[government]] capacities.</code></p>
<p><code>Late in the last century, [[Ottawa]] seemed ready to fund a transfer of [[government]] programs
to the management of prairie political organizations , including the Assembly of [[Manitoba]]
Chiefs and the Federation of [[Saskatchewan]] [[Indian]] Nations. However, these plans faced loud
objections from First Nations [[government]]s in both provinces. Here is a reconciliation issue
that has, so far, enjoyed too little public debate.</code></p>
<p><code>Sometimes, [[[[Trudeau]]]]’s reconciliation does appear to be a project framed mainly as a negotiation
between the nation-state and First Nations. Because [[Indian]] Bands (First Nations) are subjects
of the [[Indian]] Act, a colonial law, “reconciliation” between [[Canada]] and its [[Indian]] Bands might
seem too much like an “in-house” program.</code></p>
<p><code>The [[1996]] Royal Commission on [[Aboriginal]] Peoples recommended the reconstitution of
[[Aboriginal]] Nations, but so far only the courts have acted. In the BC Supreme Court’s [[2007]]
Tsilhqot’in decision, Justice David Vickers noted that [[Indigenous]] rights-holders to land and
governance may be the pre-colonial Nations, not [[Indian]] Act Bands. In 2[[014]], the Supreme
Court of [[Canada]] in its Tsilhqot’in ruling echoed Vickers’s opinion.</code></p>
<p><code>If the Court is correct, then reconciliation might better be framed as a process involving
[[Indigenous]] nations and their non-[[Indigenous]] neighbours — nations and neighbours — such
as has been substantially advanced over the last 50 years with modern [[treaties]] in [[North]]ern
[[Canada]]. Conceptualized this way, rather than being the first party to all reconciliation
projects, [[Ottawa]] might more properly play the role of facilitator in seeking reconciliation
across the country between [[Indigenous]] nations and their non-[[Indigenous]] neighbours.</code></p>
<p><code>In this decade, [[Canada]] might well re-examine its reconciliation priorities, dialogue with
[[Indigenous]] and non-[[Indigenous]] communities about shared principles, and come to
negotiating tables with honest statements of [[Crown]] intentions. Although provinces seem to
lack the openness of the [[North]]ern territories, constitutionalist John Whyte argues that we
do need some recognition and space for the norms of [[Canadian]] nationality.^5 That said, true
reconciliation should start with truth telling about intentions.</code></p>
<p><code>5 Email to author, [[May]] 8, [[2019]].</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
<h5>13</h5>
<p><code>Nation to Neighbour • Tony Penikett</code></p>
<h3>Works Cited</h3>
<p>Alexander VI. [[1493]]. <em>Inter Caetera.</em> Papal bull, [[May]] 4. www .papalencyclicals .net/Alex06/<br />
alex06inter .htm.</p>
<p>BC [[Treaty]] Commission. [[2001]]. <em>Looking Back, Looking Forward: A Review of the BC [[Treaty]] Process</em>.<br />
[[September]]. www .bc[[treaty]] .ca/sites/default/files/review_bc_[[treaty]]_process_0 .pdf.</p>
<p>Berger, Thomas R. [[1977]]. <em>[[North]]ern Frontier, [[North]]ern Homeland: Report of the Mackenzie Valley<br />
Pipeline Inquiry</em> , vol. I. [[Ottawa]], ON: Supply and Services [[Canada]]. <a href="http://publications/">http://publications</a>.<br />
gc .ca/site/eng/9 .700299/publication .html.</p>
<p>Black, Conrad. [[2019]]. “SNC-Lavalin is a sideshow to the real Wilson-Raybould issue .”<br />
<em>National Post</em> , [[March]] 15. https://nationalpost .com/opinion/conrad-black-snc-lavalin-<br />
is-a-sideshow-to-the-real-wilson-raybould-issue.</p>
<p>Bodkin, Henry. [[2019]]. “‘Little Ice Age’ which froze the River Thames caused by<br />
[[America]]s genocide, study finds .” <em>The Telegraph</em> , [[January]] 31. www .telegraph .co .uk/<br />
[[[[science]]]]/[[2019]]/01/31/little-ice-age-cased-thames-freeze-caused-americas-genocide/.</p>
<p>[[Canada]]. [[1883]]. <em>Official report of the debates of the House of Commons of the Dominion of [[Canada]]:<br />
First session, fifth Parliament...comprising the period from the twentieth day of [[April]] to the<br />
twenty-fifth day of [[May]], [[1883]].</em> Sir John A. Macdonald, [[May]] 9. www .canadiana .ca/<br />
view/oocihm .9_.</p>
<p>EKOS [[Research]] Associates. [[2011]]. <em>Rethinking the Top of the World: [[Arctic]] Security Public<br />
Opinion Survey Final Report</em>. [[Toronto]], ON: Munk-Gordon [[Arctic]] Security Program.</p>
<p>Erasmus, Peter. [[1999]]. <em>Buffalo Days and Nights.</em> Markham, ON: Fifth House Books.</p>
<p>MacLennan, Hugh. [[1945]]. <em>Two Solitudes.</em> [[Toronto]], ON: Collins.</p>
<p>McArthur, Douglas. [[2002]]. “[[Treaty]] Negotiations: What Works, What Doesn’t – A Negotiators’<br />
Dialogue &amp; Panel Discussion .” Morris J. Wosk Centre for Dialogue, [[Vancouver]],<br />
[[November]] 22.</p>
<p>Penikett, Tony. [[2006]]. <em>Reconciliation: First Nations [[Treaty]] Making in [[British]] Columbia</em>.<br />
[[Vancouver]], BC: Douglas &amp; McIntyre.</p>
<p>———. [[2017]]. <em>Hunting the [[North]]ern Character.</em> [[Vancouver]], BC: UBC Press.</p>
<p>Truth and Reconciliation Commission. [[2015]]. <em>Truth and Reconciliation Commission: Calls to<br />
Action</em>. [[Winnipeg]], MB: Truth and Reconciliation Commission. <a href="http://trc/">http://trc</a> .ca/assets/<br />
pdf/Calls_to_Action_English2 .pdf.</p>
<p>Tully, James. [[1995]]. <em>Strange multiplicity: Constitutionalism in an age of diversity</em>. Cambridge,<br />
[[UK]]: Cambridge University Press.</p>
<p><code>Tony Penikett is the author of two books, Hunting the [[North]]ern Character and
Reconciliation: First Nations [[Treaty]] Making in [[British]] Columbia, a former BC deputy
minister of negotiations and, from [[1985]] to [[1992]], premier of [[Yukon]] Territory.</code></p>
<p><code>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:26:18 UTC</code></p>
	{% endblock %}