{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #property #June #New #May #Bay #representative #health #North #kill
  #News #Ontario #research #2022 #Indigenous #foster '
title: Director of Education</p>
<hr />
<p>Feed: Anishinabek [[New]]s
Title: Director of Education
Author: Ryan Peplinskie
Date: Fri, 29 Apr [[2022]] 15:22:03 -0400
Link: http://anishinabeknews.ca/[[2022]]/04/29/director-of-education/</p>
<p>[image 1 (link #1)]Kinoomaadziwin Education Body</p>
<p>DIRECTOR OF EDUCATION</p>
<p>Job Description</p>
<p>SUMMARY</p>
<p>The Director of Education reports to the Kinoomaadziwin Education Body (KEB) 
Board of Directors. The Director of Education is responsible to manage and 
oversee the ongoing development: of Anishinabek programs and services, 
operations and administration, finance, human resources, communications, and 
funding development. Together with the Board of Directors, the Director of 
Education is also responsible for the strategic planning process; policy 
development and implementation; and the operation of the Anishinabek Education 
System (AES). This position monitors the implementation of the Anishinabek 
Nation Education Agreement and the Master Education Agreement, including their 
fiscal requirements (together the “Agreements”). The Director of Education 
maintains effective relationships with the KEB staff, Participating First 
Nations, provincial [[representative]]s and federal [[representative]]s.</p>
<p>DUTIES AND RESPONSIBILITIES</p>
<p>Leadership and Strategic Planning</p>
<p>The Director of Education leads, manages and oversees the delivery of services 
and initiatives which support the AES’s strategic plan. The Director of 
Education, monitors, evaluates, and reports to the KEB Board of Directors on the
operation of the AES in accordance with the Agreements and the strategic plan, 
Further, the Director of Education supports the Board of Directors in developing
an annual reporting and accountability plan for the KEB strategic plan. Informed
by the input, needs, and priorities of the Regional Education Councils, the 
Director of Education leads the planning and execution of ongoing negotiations 
with the Governments of [[Canada]] and [[Ontario]]. This position is also responsible 
for maintaining effective professional relationships with all AES stakeholders 
involved in the implementation of the Agreements and the operation of the AES. 
In conjunction with the Board of Directors, the Director of Education cultivates
a positive leadership role among the Participating First Nations and the 
Regional Education Councils.</p>
<p>Financial Management</p>
<p>The Director of Education oversees the work of the Finance Manager to ensure the
financial and narrative reporting requirements of the Agreements and other 
funding agreements are met in a timely manner. The Director of Education reviews
and provides direction on presentations by the Finance Manager on the regular 
financial reports to the Board of Directors. The Director of Education is 
responsible for effective and efficient financial decision-making. The Director 
of Education works with the Board of Directors to secure adequate funding for 
the operation of the AES.</p>
<p>Communications </p>
<p>The Director of Education oversees the Senior Operations Manager in the 
development and approval of communications plans and policies. The Director of 
Education ensures that communications and media strategies are developed and 
implemented. The Director of Education will support and approve the release of 
communications products, as needed.</p>
<p>Advocacy, Policy and Politics</p>
<p>The Director of Education participates in provincial and national advocacy and 
policy consultations on First Nation education. Working with Anishinabek 
Education Services Manager, the Director of Education identifies key issues that
may affect the AES and recommends strategies to manage the impact of the key 
issues to the Board of Directors. As required, the Director of Education 
implements the Board approved strategies. This position also must establish 
positive working collaboration and relationships with the Participating First 
Nations, the Government of [[Canada]], the Government of [[Ontario]], AES funders, First
Nation educators, and supporters. Through innovation and networking, the 
Director of Education achieves the vision and strategic goals and priorities of 
the AES.</p>
<p>Board and Committee Support</p>
<p>The Director of Education is the KEB’s primary contact for the Board of 
Directors and must [[foster]] effective teamwork between the Board, the Director of 
Education, and the KEB staff. Within this position, the Director of Education 
provides support and information at scheduled Board meetings, committee 
meetings, and working group meetings, as required. In addition to attending and 
participating in meetings, the following deliverables are required of the 
Director of Education:</p>
<ul>
<li>presenting quarterly reports on the implementation progress of the Master 
  Education Agreement;</li>
<li>supporting the preparation of agendas, minutes, meeting materials, as 
  needed;</li>
<li>facilitating discussions and presenting briefing notes;</li>
<li>providing timely and appropriate support to the Board, committees, and 
  working groups to ensure these bodies fulfil their legal and ethical 
  obligations; and identifying, assessing, and informing the Board of Directors 
  of internal and external issues that affect the AES and the KEB.</li>
</ul>
<p>Education Programs and Services</p>
<p>The Director of Education works closely with the Anishinabek Education Services 
Manager to ensure that projects and initiatives undertaken by the KEB are 
timely, relevant, culturally appropriate, and reflective of the needs and 
priorities of the Regional Education Councils. The Director of Education 
oversees the Multi-Year Action Plan Manager to ensure that programs and services
within the Multi-Year Action Plan are effectively implemented and evaluated.</p>
<p>Operations, Data, and Information Management</p>
<p>As required, the Director of Education provides support and works 
collaboratively with the Senior Operations Manager in the day-to-day operations 
of the KEB. The Director of Education supports the Senior Operations Manager by 
providing guidance and advice on matters of data, [[research]], and evaluation. This
includes the implementation of the Data and Information Sharing Agreement and 
the implementation, maintenance, and enhancement of the AES Student Information 
System.</p>
<p>Human Resources Management</p>
<p>The Director of Education supervises all the KEB staff that report directly to 
the Director of Education, and contracted service providers. Together with the 
KEB management team, the Director of Education ensures that KEB policies and 
procedures are followed, and that all deadlines and deliverables are met. The 
Director of Education oversees the implementation of the organizational salary 
grid, ensures performance evaluation processes are followed, and manages 
disciplinary matters. The Director of Education also works with the KEB HR 
Committee to support and approve the development of employee incentive, 
retention, and succession plans, as needed. Together with the Senior Operations 
Manager, the Director of Education determines staffing and volunteer 
requirements for organizational management and program delivery and makes 
recommendations to the Board of Directors on ways to meet requirements. The 
Director of Education is responsible to establish a positive, [[health]]y, and safe 
work environment in accordance with all appropriate legislation, regulations, 
and Board-approved policies. This involves coaching and mentoring employees, as 
appropriate, to improve performance and work plan implementation.</p>
<p>Risk Management </p>
<p>The Director of Education:</p>
<ul>
<li>identifies and evaluates the risks to the AES’ people (Anishinabek students,
  schools, staff, volunteers, Board of Directors, committees), [[property]], 
  finances, goodwill, image and, with the approval of the Board of Directors and
  the KEB Chiefs Committee, as appropriate, implements measures to control 
  risks;</li>
<li>ensures the KEB carries adequate and appropriate liability insurance 
  coverage;</li>
<li>assists the Board of Directors and KEB employees to familiarize them with 
  the parameters of the insurance coverage; and</li>
<li>oversees the negotiation, development, and application of all legal 
  contracts and agreements involving the KEB.</li>
</ul>
<p>Other Duties </p>
<p>Maintains professional and technical knowledge by attending educational 
workshops, reviewing professional publications, establishing personal networks, 
and participating in professional organizations/societies.</p>
<p>The Director of Education will perform other duties as required by the KEB Board
of Directors.</p>
<p>THE REQUIREMENTS</p>
<p>This position requires an individual with the following knowledge, s[[kill]]s, and 
personal characteristics.</p>
<p>Essential Qualifications</p>
<ul>
<li>Must be bondable</li>
<li>Knowledge of AES, KEB, First Nation education issues, challenges, and 
  delivery models</li>
<li>Demonstrated presentation s[[kill]]s and well-versed in public speaking</li>
<li>Proven effectiveness in project management</li>
<li>Ability to work in a team environment with others</li>
<li>Ability to work independently and take initiative to meet goals and 
  objectives</li>
<li>Strong communication s[[kill]]s with proficiency in developing written 
  communications and the development and delivery of oral presentations</li>
<li>Ability to develop and maintain effective working relationships with Board 
  members, First Nations school [[representative]]s, education partners, staff, 
  public and media</li>
<li>Experience in leading multidisciplinary teams and human resources management</li>
<li>Excellent organizational and office management s[[kill]]s</li>
<li>Computer literacy (Word, PowerPoint, Excel, etc.)</li>
<li>Dependability and reliability</li>
<li>Flexibility and adaptability to changing circumstances</li>
<li>Creativity and innovation</li>
<li>Clear CPIC and Vulnerable Sector Check</li>
<li>Valid driver’s licence, a satisfactory drivers abstract report and a 
  reliable vehicle Must be willing to travel</li>
</ul>
<p>Preferred Qualifications</p>
<ul>
<li>Working knowledge of financial software, specifically SAGE</li>
<li>Working knowledge of electronic file transfers and accepted banking 
  processes</li>
<li>Knowledge of performance and change management</li>
<li>Ability to analyze issues and information and make sound conclusions and 
  recommendations</li>
<li>Ability to speak Anishinabemowin or Lenape, or a willingness to learn the 
  language(s)</li>
</ul>
<p>Experience and Education</p>
<ul>
<li>Master’s Degree in Education, Public Administration, or Business 
  Administration</li>
<li>Minimum 5 years of education management experience in a director/executive 
  role</li>
<li>Proven leadership experience working with multiple partners/organizations</li>
</ul>
<p>Please note: A combination or relevant experience and education will be 
considered.</p>
<p>Hours of Work</p>
<p>The hours of employment will typically be Monday-Friday from 8:30 am to 4:30 pm.
The nature of this position is such that some additional work hours will be 
required and possibly work on weekends or during the evenings.</p>
<p>Location The position is based out of the head office located on Nipissing First
Nation.</p>
<p>Salary To commensurate with experience and education.</p>
<p>CLOSING DATE </p>
<p>Applications for this position will be accepted until 12:00 p.m. on Friday, [[May]] 
27, [[2022]].</p>
<p>INTERVIEW DATES</p>
<p>Interviews for this position will be held on [[June]] 6, [[June]] 10, and [[June]] 14, [[2022]].</p>
<p>APPLICATIONS </p>
<p>Please submit your resume, covering letter, and three references to:</p>
<p>Andrea Crawford</p>
<p>Senior Operations Manager</p>
<p>Kinoomaadziwin Education Body</p>
<p>Suite 100-132 Osprey Miikan</p>
<p>[[North]] [[Bay]], ON P1B 8G5</p>
<p>andrea.crawford@a-e-s.ca<a href="mailto:andrea.crawford@a-e-s.ca" title="link">2</a></p>
<p>705-477-4149</p>
<ul>
<li>Preference will be given to members of the Participating First Nations or 
those of [[Indigenous]] ancestry. Only applicants selected for an interview will be 
contacted.</li>
</ul>
<p>Links: </p>
	{% endblock %}