{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#silver #gold #1754 '
title: How can i exit i3 without using a mouse</p>
<hr />
<h1>How can I exit i3 without using a mouse? - Unix &amp; Linux Stack Exchange</h1>
<blockquote>
<h2>Excerpt</h2>
<p>Whenever I go to exit i3 a bar shows up on the top giving me the ability to to click Yes, to exit, or X to cancel.</p>
</blockquote>
<hr />
<p>Whenever I go to exit i3 a bar shows up on the top giving me the ability to to click <code>Yes</code>, to exit, or <code>X</code> to cancel.</p>
<p>asked Nov 24 '18 at 22:09</p>
<p>[</p>
<p><img alt="" src="https://www.gravatar.com/avatar/605442f85418d858e2ce1e1aea2092bb?s=64&amp;d=identicon&amp;r=PG" /></p>
<p>](https://unix.stackexchange.com/users/3285/evan-carroll)</p>
<p><a href="https://unix.stackexchange.com/users/3285/evan-carroll">Evan Carroll</a>Evan Carroll</p>
<p>19.6k28 [[gold]] badges106 [[silver]] badges184 bronze badges</p>
<p>Add this to your config:</p>
<p>```
mode "exit: [l]ogout, [r]eboot, [s]hutdown" {</p>
<p>bindsym l exec i3-msg exit</p>
<p>bindsym r exec systemctl reboot</p>
<p>bindsym s exec systemctl shutdown</p>
<p>bindsym Escape mode "default"</p>
<p>bindsym Return mode "default"</p>
<p>}</p>
<p>bindsym $mod+x mode "exit: [l]ogout, [r]eboot, [s]hutdown"
```</p>
<p>now use mod+x and then choose l, r, or s</p>
<p>[</p>
<p><img alt="" src="https://i.stack.imgur.com/qNNMJ.png?s=64&amp;g=1" /></p>
<p>](https://unix.stackexchange.com/users/4[[1754]]/4[[1754]])</p>
<p><a href="https://unix.stackexchange.com/users/4[[1754]]/4[[1754]]">4[[1754]]</a></p>
<p>811 [[gold]] badge7 [[silver]] badges19 bronze badges</p>
<p>answered Oct 30 '19 at 9:44</p>
<p>[</p>
<p><img alt="" src="https://lh6.googleusercontent.com/-5Q5OCJWB2aM/AAAAAAAAAAI/AAAAAAAAB0g/cTvB2Sl5RQA/photo.jpg?sz=64" /></p>
<p>](https://unix.stackexchange.com/users/379693/lococoyote)</p>
<p>1</p>
<p>What you want to do is edit your i3 conf, to find out where that is out you can use <code>i3-config-wizard</code>,</p>
<p><code>$ i3-config-wizard
The config file "/home/$USER/.config/i3/config" already exists. Exiting.</code></p>
<p>The line that sets up the exit command is in that file, and it was created by default</p>
<p><code>bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"</code></p>
<p>You'll see the <code>i3-nagbar</code>. That's the bar at the top responsible for nagging you. Just change that to go straight to the exit branch,</p>
<p><code>bindsym $mod+Shift+e exit</code></p>
<p>And finally run <code>i3-msg reload</code> to reload the configuration file.</p>
<p>[</p>
<p><img alt="" src="https://www.gravatar.com/avatar/d11016dc1a8f391c6a9d575d7c1b97a4?s=64&amp;d=identicon&amp;r=PG&amp;f=1" /></p>
<p>](https://unix.stackexchange.com/users/321265/jaimet)</p>
<p>answered Nov 24 '18 at 22:09</p>
<p>[</p>
<p><img alt="" src="https://www.gravatar.com/avatar/605442f85418d858e2ce1e1aea2092bb?s=64&amp;d=identicon&amp;r=PG" /></p>
<p>](https://unix.stackexchange.com/users/3285/evan-carroll)</p>
<p><a href="https://unix.stackexchange.com/users/3285/evan-carroll">Evan Carroll</a>Evan Carroll</p>
<p>19.6k28 [[gold]] badges106 [[silver]] badges184 bronze badges</p>
<p>I ran into this while wanting a way to exit i3 that was both keyboard-only and that I was unlikely to fat-finger. (Having $mod-Shift-e for exit and $mod-Shift-r for restart right next to each other is uncomfortable.) My solution is to use <code>dmenu</code> to run</p>
<p><code>i3 exit</code> or <code>i3-msg exit</code></p>
<p>In addition to being something that I can't accidentally type while trying to type something else, it has the advantages that it doesn't require any new configuration, and it reminds you how the shortcut keys work internally.</p>
<p>answered Jan 5 '20 at 14:33</p>
<p>[</p>
<p><img alt="" src="https://i.stack.imgur.com/8JY75.jpg?s=64&amp;g=1" /></p>
<p>](https://unix.stackexchange.com/users/389032/sam-newbold)</p>
<h2>Not the answer you're looking for? Browse other questions tagged <a href="https://unix.stackexchange.com/questions/tagged/i3" title="show questions tagged 'i3'">i3</a> <a href="https://unix.stackexchange.com/questions/tagged/exit" title="show questions tagged 'exit'">exit</a> or <a href="https://unix.stackexchange.com/questions/ask">ask your own question</a>.</h2>
	{% endblock %}