{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#New #May #mental #health #kill #News #2022 #drugs '
title: Mental Health Addictions Worker</p>
<hr />
<p>Feed: Anishinabek [[New]]s
Title: Mental Health &amp; Addictions Worker
Author: Ryan Peplinskie
Date: Fri, 29 Apr [[2022]] 15:14:56 -0400
Link: http://anishinabeknews.ca/[[2022]]/04/29/[[mental]]-[[health]]-addictions-worker/</p>
<p>[image 1 (link #1)]</p>
<p>M’Chigeeng First Nation</p>
<p>Employment Opportunity</p>
<p>Mental Health &amp; Addictions Worker</p>
<p>Classification Level: CS-4 ($61,200-$74,800) with Extended Health Benefits and 
Pension</p>
<p>Employment Status: Regular Full time</p>
<p>Under the general guidance of the Mental Health Clinic Manager, the focus of the
Mental Health &amp; Addictions Worker will be to provide clinical counselling and 
emotional support to individuals and families while addressing [[mental]] [[health]] and
substance use challenges, from the point of referral to discharge. Inclusive of 
both western and traditional modalities of therapy.</p>
<p>Essential Functions</p>
<ul>
<li>Provide support services to clients who have [[mental]] [[health]] and/or addiction 
  issues.</li>
<li>Provide direct clinical counselling to individuals and families.</li>
<li>Provide Trauma Informed Care services and promote a Harm Reduction approach 
  to wellness.</li>
<li>Providing written reports, assessments, and appropriate documentation in 
  client files in keeping with the standards and procedures.</li>
<li>Participating in client-related interagency meetings and case conferencing.</li>
<li>Promoting [[health]]y lifestyles with area the First Nation communities by 
  information sharing, liaison activities, and other services regarding [[mental]] 
  [[health]] and addictions.</li>
<li>Coordinate and facilitate access to traditional healing and cultural 
  programs.</li>
</ul>
<p>Qualifications &amp; Requirements:</p>
<p>Preferred</p>
<ul>
<li>University Degree in Social Services and/or Addictions field of study.</li>
<li>At least two (2) years of relevant work experience in a First Nation 
  community.</li>
<li>In Good Standing with Regulated Professional Body.</li>
</ul>
<p>Minimum</p>
<ul>
<li>College Diploma in Social Services or related field of study (i.e., 
  Addictions &amp; Mental Health Diploma, Social Services Worker Diploma) and/or 
  lived experience and knowledge.</li>
<li>At least three to five (3-5) years work-related experience in the field of 
  [[mental]] [[health]] and/or addictions in a First Nation Community.</li>
<li>Knowledge and s[[kill]]s in [[mental]] [[health]], alcohol and/or [[drugs]] addictions 
  awareness and prevention</li>
<li>Experience with Public Speaking and Facilitation.</li>
<li>Certification in Applied Suicide Intervention S[[kill]]s Training is an asset.</li>
</ul>
<p>Closing Date: Friday, [[May]] 20^th, [[2022]], at 4:00 p.m.</p>
<p>Interested applicants must submit:</p>
<p>COVER LETTER, RESUME, </p>
<p>THREE (3) CURRENT REFERENCES (2 Work-Related references and 1-character 
reference) </p>
<p>and education certifications addressed to:</p>
<p>Confidential: Mental Health &amp; Addictions Worker</p>
<p>c/o Human Resources</p>
<p>M’Chigeeng First Nation, P.O. Box 333</p>
<p>M’CHIGEENG, ON P0P 1G0</p>
<p>Fax 705-377-4980 or employment@mchigeeng.ca<a href="mailto:employment@mchigeeng.ca" title="link">2</a></p>
<p>Miigwetch for your interest, however only applicants selected for an interview, 
will be contacted.</p>
<p>For detailed job description, please email andream@mchigeeng.ca<a href="mailto:andream@mchigeeng.ca" title="link">3</a>.</p>
<p>Links: </p>
	{% endblock %}