{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#June #New #2020 #2019 #Brunswick #March #mental #health #treatment #News #2018
  #Canadian #CDC '
title: Mystery brain disease that has claimed 6 lives so far in new brunswick has
  doctors scrambling to find cause</p>
<hr />
<h1>Mystery brain disease that has claimed 6 lives so far in New Brunswick has doctors scrambling to find cause</h1>
<blockquote>
<h2>Excerpt</h2>
<p>The disease first manifests as an onset of neurological symptoms, starting with muscle spasms and cognitive disorder.</p>
</blockquote>
<hr />
<p>MADAWASKA, Maine — [[New]] [[Brunswick]] is launching an investigation into an unidentified neurological disease that has claimed the lives of six people and infected 48 more in the province, local officials said on Thursday, [[June]] 3.</p>
<p>The disease has only been identified in [[New]] [[Brunswick]], and according to the Maine [[CDC]], no cases have appeared in the state. But officials from the [[CDC]]’s medical epidemiology and disease surveillance have communicated with Maine hospitals in the border region on the symptoms of the neurological disease, [[CDC]] communications director Robert Long said Friday.</p>
<p>So far, reported cases are clustered in the eastern part of the province, The [[Canadian]] Press reported, but there is no hard evidence yet that the disease is directly connected to geography.</p>
<p>[[New]]s of the disease first emerged in [[March]], when [[New]] [[Brunswick]]’s deputy chief medical officer of [[health]], Dr. Cristin Muecke, alerted provincial [[health]] care providers and medical associations to the syndrome. The cause is yet unknown, though doctors have identified <a href="https://www.cbc.ca/news/canada/new-brunswick/creutzfeldt-jakob-disease-cases-nb-1.5955035">environ[[mental]] factors</a> as a likely origin.</p>
<p>The disease first manifests as an onset of neurological symptoms, starting with muscle spasms and cognitive disorder, officials from the team investigating the disease <a href="https://www.ctvnews.ca/[[health]]/new-brunswick-ramps-up-efforts-to-solve-mystery-behind-unknown-brain-disease-1.5454917">told The [[Canadian]] Press</a>. Later symptoms include rapidly progressing dementia, muscle atrophy and hallucinations.</p>
<p>A task force of experts in [[New]] [[Brunswick]] convened earlier this week to decide how to proceed. The task force will launch an inquiry into the causes of the disease and investigate any potential prevention methods. It is releasing a lengthy survey to patients and their loved ones in an effort to further understand the symptoms, progress and potential causes.</p>
<p>Patients identified so far <a href="https://atlantic.ctvnews.ca/i-was-afraid-i-was-going-to-die-20-year-old-n-b-woman-confirmed-to-have-the-mysterious-neurological-disease-1.5453438">range in age</a> from 18 to 85, and are almost equally men and women. In the known cases, the progress of the disease takes place over the course of a few years, with <a href="https://www2.gnb.ca/content/gnb/en/departments/ocmoh/cdc/neuro_cluster.html">most people reporting</a> their symptoms didn’t begin until [[2018]], [[2019]] or [[2020]].</p>
<p>Last week, [[New]] [[Brunswick]] opened a special clinic in Moncton for patients who have the disease.</p>
<p>“We understand that there are many questions related to this investigation, and these cases,” Abigail McCarthy, [[New]] [[Brunswick]] Department of Health Communications Officer wrote in a statement. “We are working hard to identify any possible causes, diagnosis and/or [[treatment]]s.”</p>
<p>Hannah Catlin is a reporter at the St. John Valley Times/Fiddlehead Focus in Madawaska, Maine. <a href="https://bangordailynews.com/author/hcatlin/">More by Hannah Catlin</a></p>
<h2>Post navigation</h2>
	{% endblock %}