{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #prison #government #April #New #Zealand #2020 #covid-19 #jail #pandemic
  #Covid #Ottawa #2003 #indigenous #mental #health #treatment #Trudeau #News #Europe
  #lockdown #coronavirus #Canadian #Ontario #testing #United #States #COVID #virus
  #1600 #companies #War #Trudeau #Indigenous #poverty #homeless #incarceration '
title: Template Letter to Send to Federal Government re Prisoner SafetyDuring Covid19</p>
<hr />
<p>Feed: Indigenous Nationhood
Title: Template Letter to Send to Federal Government re Prisoner Safety During 
Covid-19
Author: Pam Palmater
Date: Sun, 12 Apr 2020 05:53:00 -0400
Link: http://indigenousnationhood.blogspot.com/2020/04/template-letter-to-send-to-federal.html</p>
<p><a href="https://1.bp.blogspot.com/-5GMIJExzk5U/XpNH4RY7tDI/AAAAAAAAAwI/9xbnNo8R4xYIGAYa5XAS3f9xA3_Hm01QgCLcBGAsYHQ/s[[1600]]/CoronaVirusHeader.jpg" title="link">image 1 (link #2)</a></p>
<p>(picture from United Nations 2020)</p>
<p>Dear social justice allies,</p>
<p>Several weeks ago, I wrote an article for APTN News about the need for all 
levels of government to work with Indigenous governments and prison justice 
experts to develop a decarceration plan for Indigenous peoples to avoid a 
massive covid19 outbreak in prisons which would disproportionately impact 
Indigenous peoples.
https://aptnnews.ca/2020/03/23/covid-19-pandemic-plan-needed-for-canadas-jails-a
nd-prisons/<a href="https://aptnnews.ca/[[2020]]/03/23/[[covid-19]]-[[pandemic]]-plan-needed-for-canadas-[[jail]]s-and-[[prison]]s/" title="link">3</a></p>
<p>I then did a Youtube video providing more context on this issue and why a 
strategic, decarceration plan is needed for Indigenous peoples, especially 
Indigenous women who are the most over-represented prison population. Indigenous
peoples are already in a high risk category for covid19 health issues and 
prisons would only make the matter worse.
https://www.youtube.com/watch?v=a3gx_skSDX8<a href="https://www.youtube.com/watch?v=a3gx_skSDX8" title="link">4</a></p>
<p>The Canadian Association for Elizabeth Fry Societies is also calling on 
governments to release some prisoners, including Indigenous women. pregnant 
women, and others.You can see their Open to Letter to Government here:
https://www.caefs.ca/caefs-calls-for-release-of-prisoners-at-risk-due-to-covid-1
9/<a href="https://www.caefs.ca/caefs-calls-for-release-of-[[prison]]ers-at-risk-due-to-[[covid-19]]/" title="link">5</a></p>
<p>Many of you contacted me after seeing my video asking about a template letter 
they could use to Please see the below template letter that you can use and/or 
edit to your specific needs to send to the federal government regarding prisoner
health and safety during the covid-19 pandemic.</p>
<p>The below draft template letter was provided by Senator Kim Pate, who has been a
life long prison justice advocate for women. She has long called on the 
government to find alternatives to prison for women, especially Indigenous women
who are grossly over-represented in prisons and women with physical and mental 
health issues. She is advocating that prisons release all minimum security 
prisoners, elderly and ill prisoners, and Indigenous women.</p>
<p>Many thanks for those of you who support prisoners at this time, especially the 
many thousands who have not even been convicted of their alleged crime.</p>
<p>April , 2020</p>
<p>The Right Honourable Justin Trudeau</p>
<p>Prime Minister of Canada</p>
<p>Office of the Prime Minister</p>
<p>80 Wellington Street</p>
<p>Ottawa, ON </p>
<p>K1A 0A2</p>
<p>Dear Prime Minister and Members of the Cabinet:</p>
<p>Re COVID-19 in Canadian Prisons</p>
<p>We are gravely concerned that more people are going to die because current 
preventive measures for some Canadians are inadequate. We are particularly 
concerned about people living in poverty, people who are already isolated, 
homeless people, precariously housed and employed people, and prisoners. </p>
<p>There are 40,000 Canadians in prisons and too many are at particular risk due to
COVID-19. In federal prisons, more than 1 in 4 prisoners are over 50, more than 
1 in 7 have a respiratory illness or hypertension. Many have mental health 
issues. Elderly, ill and low risk prisoners can and must be released 
immediately.</p>
<p>Locking down prisoners and locking out visitors is wholly inadequate. Without 
significantly reducing the number of prisoners, prisons are already becoming 
incubated breeding grounds for COVID-19. Social distancing for prisoners is 
being achieved via lockdowns, conditions of solitary confinement. </p>
<p>The responses to COVID-19 in prisons so far raises serious health and human 
rights concerns. Because social distancing is not possible in crowded jails, the
response to positive or suspected cases of COVID-19 are institutional lockdowns.
Inadequate cleansers are being distributed to prisoners who often share kitchen 
and bathroom facilities. It is not effective to distribute hygiene information 
to those with dementia, learning, language or intellectual disabilities, not to 
mention those with significant mental health issues.</p>
<p>Staff in federal prisons are already testing positive in growing numbers and 
others are refusing to go to work where prisoners are diagnosed with COVID-19. </p>
<p>Authorities should be releasing all minimum security, elderly and ill prisoners 
from federal prisons. As you know, such legislative provisions as sections 29, 
81, 84, 116 and 121 of the Corrections and Conditional Release Act were 
specifically created to move people out of prisons to address health issues, for
treatment, for other personal development, compassionate reasons, as well as for
work. Sections 81 and 84 provide options which could be easily expanded to 
provide for the release of Indigenous and other prisoners. </p>
<p>As the Parole Board of Canada has urged, temporary absence and work release 
options could be broadened, whether by legislative changes or broader 
interpretation of current policies and practices, to provide near immediate 
alleviation of current conditions. Some families and communities could 
immediately accommodate their loved ones. Community residential facilities and 
non-governmental organizations could be funded (at a fraction of the cost of 
incarceration), to provide additional community accommodation and support. </p>
<p>Many communities need health clinics, testing centres and housing to alleviate 
current as well as pre-existing crises. Given the opportunity, construction 
companies and prisoners could volunteer to assist with the work needed to put 
this infrastructure in place. </p>
<p>Recognizing these extraordinary times, the government could further support 
these goals through amendments to legislation and/or policy. One option could be
a “presumptive” release on parole at one-sixth of a sentence for all first-time,
non-schedule convictions, that could function similarly to current statutory 
releases, supervised by parole officers with the Parole Board of Canada setting 
any necessary conditions. Alternatively, currently available measures, such as 
section 116(6) of the CCRA which permits unescorted temporary absences for 
renewable periods of 60 days for “specific personal development” programs, could
be made applicable to prisoners with vulnerable health issues. Existing measures
for release could likewise be expanded to permit individuals to be released with
other forms of distance monitoring, such as video reporting.</p>
<p>The public safety risk of releasing minimum security prisoners, those who are 
ill and those who are elderly to receive treatment and contribute to their 
communities is negligible. The public health risks—for all Canadians—of keeping 
these individuals and correctional staff in overcrowded and under-prepared 
prisons and allowing the virus to spread further is significant, irresponsible 
and preventable.</p>
<p>Provinces like Ontario and Nova Scotia have taken steps: allowing those who 
serve sentences only on the weekends to serve sentences at home. In the United 
States,<a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_edn1" title="link">i</a>Europe,<a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_edn2" title="link">ii</a>New Zealand<a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_edn3" title="link">iii</a>and beyond, legal advocates are 
working to post bail and encourage release of prisoners. Canadian civil society 
organizations, medical and legal experts are echoing these calls. Canadians are 
calling for bold and effective measures. Protecting Canada from a healthcare 
crisis means protecting those most marginalized, including those in prisons and 
other institutions. </p>
<hr />
<p><a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_ednref1" title="link">i</a>See e.g. Bill Quigley, Six points about Corona[[virus]] and [[poverty]] in the US 
(Louisiana Weekly): http://www.louisianaweekly.com/six-points-about-[[corona[[virus]]]]-
and-[[poverty]]-in-the-us/<a href="http://www.louisianaweekly.com/six-points-about-[[corona[[virus]]]]-and-[[poverty]]-in-the-us/" title="link">10</a> ; Lisa Backus, Advocates Urge Prisoner Releases 
Before Virus Strikes (CT [[New]]s Junkie):</p>
<p>https://www.ctnewsjunkie.com/archives/entry/[[2020]]0316_advocates_urge_[[prison]]er_rel
eases_before_[[virus]]_strikes/?utm_source=CT[[New]]sJunkie+Main+List+With+Publication+G
roups&amp;utm_campaign=2f91d903e6-MCP_COPY_01&amp;utm_medium=email&amp;utm_term=0_a493d2308d
-2f91d903e6-95944325<a href="https://www.ctnewsjunkie.com/archives/entry/[[2020]]0316_advocates_urge_[[prison]]er_releases_before_[[virus]]_strikes/?utm_source=CT[[New]]sJunkie+Main+List+With+Publication+Groups&amp;utm_campaign=2f91d903e6-MCP_COPY_01&amp;utm_medium=email&amp;utm_term=0_a493d2308d-2f91d903e6-95944325" title="link">11</a>.</p>
<p><a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_ednref2" title="link">ii</a>Penal Reform International, Corona[[virus]]: Healthcare and human rights of 
people in [[prison]]: https://www.penalreform.org/resource/[[corona[[virus]]]]-[[health]]care-an
d-human-rights-of-people-in/<a href="https://www.penalreform.org/resource/[[corona[[virus]]]]-[[health]]care-and-human-rights-of-people-in/" title="link">13</a>.</p>
<p><a href="file:///C:/Users/Pamela%20Palmater/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/R6Z9UYVE/LTR%20to%20PMO-[[COVID]]19-[[April]][[2020]].docx#_ednref3" title="link">iii</a>Penal Reform International, Corona[[virus]]: Healthcare and human rights of
people in [[prison]]: https://www.penalreform.org/resource/[[corona[[virus]]]]-[[health]]care-an
d-human-rights-of-people-in/<a href="https://www.penalreform.org/resource/[[corona[[virus]]]]-[[health]]care-and-human-rights-of-people-in/" title="link">13</a>.</p>
<p>Senator Kim Pate's office also provided the following information to help 
families advocating on behalf of their loved ones in [[prison]]. Here is her note:</p>
<p>In order to assist in the release of your loved one/family/community member, you
may wish to write to their parole officer, as well as the [[War]]den of the [[prison]] 
where they are currently incarcerated. You might also want to write or copy Anne
Kelly, Commissioner of the Correctional Service of [[Canada]], Jennifer Oades, Chair
of the Parole Board of [[Canada]], Bill Blair, Minister of Public Safety and 
Security, David Lametti, Minister of Justice, the Prime Minister, the leaders of
the other federal political parties, as well as MPs and Senators. </p>
<p>In your letter requesting release on compassionate grounds, or for personal 
development, or perhaps a work release program in order to care for family 
members, or a section 81 0r 84 release, you will want to identify why you think 
they can be released safely in to the community at this time, as well as the 
types of supports available to them. If you need some resources to assist with 
community infrastructure, you can encourage the community to apply directly to 
the Minister of Public Safety.</p>
<p>Email addresses for some of the individuals listed above are:</p>
<p>Bill.Blair@parl.gc.ca<a href="mailto:Bill.Blair@parl.gc.ca" title="link">15</a></p>
<p>David.Lametti@parl.gc.ca<a href="mailto:David.Lametti@parl.gc.ca" title="link">16</a></p>
<p>jennifer.oades@pbc-clcc.gc.ca<a href="mailto:jennifer.oades@pbc-clcc.gc.ca" title="link">17</a> </p>
<p>Anne.Kelly@csc-scc.gc.ca<a href="mailto:Anne.Kelly@csc-scc.gc.ca" title="link">18</a></p>
<p>Justin.[[[[Trudeau]]]]@parl.gc.ca<a href="mailto:Justin.[[[[Trudeau]]]]@parl.gc.ca" title="link">19</a></p>
<p>Andrew.Scheer@parl.gc.ca<a href="mailto:Andrew.Scheer@parl.gc.ca" title="link">20</a> </p>
<p>Yves-Francois.Blnachet@parl.gc.ca<a href="mailto:Yves-Francois.Blnachet@parl.gc.ca" title="link">21</a></p>
<p>Jagmeet.Singh@parl.gc.ca<a href="mailto:Jagmeet.Singh@parl.gc.ca" title="link">22</a></p>
<p>Many are copying our office on their correspondence so that the recipients are 
aware that we are monitoring developments in the matter.</p>
<p>Additionally, please see below the link to an article by former Minister of 
Health, Dr. Jane Philpott and Senator Pate published recently in Policy Options 
regarding releasing [[prison]]ers in light of the [[COVID]]-19 [[pandemic]], which may be of
interest:</p>
<p>https://policyoptions.irpp.org/magazines/march-[[2020]]/time-running-out-to-protect-
[[prison]]ers-and-[[prison]]-staff-from-calami<a href="https://policyoptions.irpp.org/magazines/march-[[2020]]/time-running-out-to-protect-[[prison]]ers-and-[[prison]]-staff-from-calami" title="link">23</a> </p>
<p>Thank you once again for writing and take good care.</p>
<p>Senator Kim Pate's Office:</p>
<p>https://sencanada.ca/en/senators/pate-kim/<a href="https://sencanada.ca/en/senators/pate-kim/" title="link">24</a></p>
<p>Links: </p>
	{% endblock %}