{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#child #May #2017 #ledger #Japanese #mental #health #flu #computer #Research
  #1900 #1903 #1904 #company '
title: The art of kakeibo, the japanese budgeting system that could change your financial
  life</p>
<hr />
<h1>The Art of Kakeibo, the Japanese Budgeting System That Could Change Your Financial Life</h1>
<blockquote>
<h2>Excerpt</h2>
<p>Get your spending in line with this innovative way to save money.</p>
</blockquote>
<hr />
<p><img alt="a fancy pen on a notebook" src="https://pocket-syndicated-images.s3.amazonaws.com/60f768f261d91.png" /></p>
<p>Photo by Getty Images</p>
<p>Kaikebo is an old [[Japanese]] form of budgeting that has become <em>en vogue</em> thanks to an increased focus on incorporating mindfulness into all aspects of our lives. It offers a simple, no-nonsense way to get your spending under control.</p>
<p>Budgets are like diets for your wallet. They’re never fun, they mean a lot of restriction and denial, results are somewhere off in the future, and they can make people super cranky. If you’ve ever tried to put yourself on a budget (or <a href="https://www.shondaland.com/live/body/a30455651/the-psychology-of-dieting-how-to-stop-dieting-and-actually-get-[[health]]y-this-year/">a diet</a>), you know just how difficult it can be.</p>
<p>“Everything that is generally good for our financial [[health]] goes against what culture has taught us,” says Joy Liu, a trainer at <a href="https://financialgym.com/">The Financial Gym</a>, a financial services [[company]] that works with people of all income levels to help them get their finances on track. “Setting and sticking to a budget could be a lifelong practice of unwinding all the learned behaviors we have from society, our friends, and even our families. It’s not easy.”</p>
<p>That doesn’t mean we don't keep dieting or keep trying to get ourselves on a budget, though. As Liu says, “Even if you are failing at it, you're still trying.”</p>
<p>Recently, an old [[Japanese]] technique for budgeting has caught the attention of the public again, and it could be the mindful answer to getting your financial house in order. Meet kakeibo, a [[Japanese]] budgeting system that could change your financial life.</p>
<hr />
<h2><strong>What is Kakeibo?</strong></h2>
<p>Kakeibo, or (alternately spelled) kakebo, translates to “household family [[ledger]],” according to Sarah Harvey, the author of, <a href="https://amzn.to/30IzgJf"><em>Kaizen: The [[Japanese]] Method for Transforming Habits One Step at a Time</em></a>. While Harvey was unavailable for an interview, her publisher graciously gave us a copy of the chapter on money, where she discusses the basics of kakeibo and her experience with it.</p>
<p>The system was developed in [[1904]] by a female journalist named Hani Motoko. Motoko is considered to be Japan’s first female newspaper reporter, and she founded a magazine for women called, <em>Fujin no tomo</em>, or Woman’s Friend, in the early [[1900]]s. In [[1903]] (or [[1904]], facts differ, depending on where you look), Motoko created kakeibo as a simple way for women to manage their household finances.</p>
<p>It's seen a recent resurgence because there have been a few new books, like Harvey's, that have hit the market. Liu at The Financial Gym also thinks that kakeibo has seen a resurgence for a number of other additional reasons.</p>
<p>“We have become more disconnected from all aspects of our lives, and we are all very busy and addicted to being busy,” she says. “We are living most of our lives out of habit and on autopilot. Marketers and businesses have taken all the friction out of taking all our money from us. Everyone wants to be spending their money on travel, but really all that cash is sucked up by Amazon, Uber, and Seamless.”</p>
<p>That has resulted in a widespread desire to reconnect and become more aware of where our money goes, Liu says. She calls it taking back control.  </p>
<h2><strong>How to Use Kakeibo</strong></h2>
<p>The idea behind kakeibo is elegant and straight-forward. It helps to bring mindful awareness to the process of spending (and budgeting) in a similar way that <a href="https://www.shondaland.com/live/body/a30455651/the-psychology-of-dieting-how-to-stop-dieting-and-actually-get-[[health]]y-this-year/">food journaling brings awareness to eating behaviors</a>.</p>
<p>"Everyone deals with a different level of financial anxiety," Liu says. "Life goals and financial goals are related, and once we start to connect financial life with overall life, things start to make sense."</p>
<p>At the heart of kakeibo is journaling or documenting your income and spending. Since the process predates smartphones and [[computer]]s, it relies on old-fashioned pen and paper technology.</p>
<h2><strong>Track Your Spending for a Month</strong></h2>
<p>The first step in kakeibo, much like any mindfulness work, is to become aware of what's actually happening to your finances. This means keeping detailed track of your spending for a set period. Most financial experts, like Liu, recommend tracking expenses and income for at least a month before setting a budget.</p>
<p>Tracking your spending and income gets at the heart of the kakeibo practice, which centers on four key questions. They are:</p>
<ol>
<li>How much money do I have or earn?</li>
<li>How much do I want to save?</li>
<li>How much am I spending?</li>
<li>Where can I improve?</li>
</ol>
<p>There are plenty of kakeibo journals, <a href="https://amzn.to/2RDpmEK">like this one</a>, on the market that you can use to get started, or you can simply use a blank book that you carry with you. Like journaling, the idea is to incorporate the process into your daily routine.</p>
<h2><strong>Break Your Spending Into Categories and Get “Financially Naked”</strong></h2>
<p>Once you have tracked your expenditures for a month, you can break spending into categories. The key to kakeibo is tracking it all with a basic pen and paper, rather than using any kind of app. Why? <a href="https://www.forbes.com/sites/annabelacton/[[2017]]/11/03/how-to-set-goals-and-why-you-should-do-it/#43fa9f54162d">[[Research]] has repeatedly shown</a> that physically writing things down changes the way we behave. It also creates a little more friction to our spending.</p>
<p>"Writing things down and tracking a budget forces you to feel the boundary of spending," Liu says.</p>
<p>While The Financial Gym uses a variety of different budgeting tricks and tools to help their clients, they do encourage spend-tracking in whatever way works for you. Liu calls this portion of budgeting "getting financially naked."</p>
<p>Once you have an idea of your spending, you can divide your kakeibo, or budget, into different categories of spending: essential and non-essential. Those categories are further divided into smaller groups, including:</p>
<ol>
<li><strong>General:</strong> These are your regular household expenditures like housing, food, transportation, medical care, internet and phone connections, animal care, and [[child]]care. These are your necessities, or as Harvey calls it in her book, your essentials.</li>
<li><strong>Leisure:</strong> These are all those things like Netflix, shopping, online shopping, parties, and gifts, etc. Think of these as the things you enjoy, but don't necessarily need. These are considered non-essentials.</li>
<li><strong>Culture:</strong> Capture those things that enrich your life here. [[May]]be it's a subscription to a newspaper or magazine, perhaps it's your regular haircut or nail appointment. These too are considered to be non-essentials.</li>
<li><strong>Unexpected Costs:</strong> This is the stuff that comes up unexpectedly that we all need to pay for. In general, these are necessities.</li>
</ol>
<p>These categories are a bit [[flu]]id. For example, you might consider your gym membership or yoga class as "essential" and thus choose to categorize it as "general." There's nothing wrong with that! As Liu says, these are your "sacred cows" or your non-negotiables. The trick is to make sure you're budgeting for them.</p>
<h2><strong>Set Your Goals</strong></h2>
<p>Once you have an idea of where your money goes over the course of a month, you can then set your goals. What do you want to achieve with your money? What's your timeline for achieving your goals? Do you want to buy a house? Go on a crazy vacation? Just be able to have a little more to put away each month?</p>
<p>Whatever your goals are, set a number and a timeline for it and write it down. You can then divide that number into smaller chunks so that you know how much you might need to save per month or per week (depending on your time horizon), to achieve those goals.</p>
<p>Do this for each of the four categories. This will serve as your "budget" or spending limit for each category.</p>
<h2><strong>Track Your Spending and Assess</strong></h2>
<p>Next, you'll continue tracking your spending and categorizing the expenditures into one of the four groups above. At the end of each week, you check your balances against your goals. At the end of the month, you look back at where you ended up in relation to your goals in each category and ask yourself where you can do better.</p>
<h2><strong>Questions to Ask Before You Spend</strong></h2>
<p>The unique part of kakeibo, however, is the way it deals with the emotional nature of spending. We've become so accustomed to immediate gratification these days. Kakeibo asks us to slow down and consider so that we don't overspend.</p>
<p>Let's face it. It's going to happen. You are going to go over your goal or budget in one category or another, but the real magic of kakeibo is that it uses some basic questions and tricks to get you to become more mindful of your spending and to get you thinking about what you really want and need.</p>
<p>In her book, Harvey poses this set of questions that can help you drill down to whether or not to splurge. These questions are designed to invite self-reflection and help you decide if an expense is "worth it."</p>
<ol>
<li>Do I actually need this? Will it be useful, and does it make me excited?</li>
<li>Do I have the space for this? Will it have a place in my life or home?</li>
<li>Based on my current financial situation, can I actually afford this?</li>
<li>How do I feel about buying this?</li>
<li>What is my general emotional state today? How do I feel?</li>
</ol>
<p>She also suggests thinking about how you came across the item and considering its ethical and environ[[mental]] impact as well as its sustainability. Waiting on purchasing something for 24 hours can also help bring spending in line with your goals too.</p>
<p>“This highlights whether you genuinely want or need it,” she writes. “If you are still thinking about the item the next day and can afford it, then make the purchase. I promise you will feel a greater sense of satisfaction about the decision.”</p>
<h2><strong>The Bottom Line on [[Japanese]] Budgeting</strong></h2>
<p>Budgeting poses a distinct challenge for almost everyone. It's uncomfortable, forces us to face a lot of our preconceived notions, and tests our learned behavior as consumers. There are many different kinds of budgeting styles and tools out there, but you don't need new-fangled tools, apps, or expensive memberships to get your spending under control.</p>
<p>By using a simple pen and paper and incorporating mindfulness into your budgeting work, you just might be able to break the debt cycle and gain financial freedom through the practice of kakeibo.</p>
<hr />
<p><em>Abigail Bassett is an Emmy-winning journalist, writer and producer who covers wellness, tech, business, cars, travel, art and food. Abigail spent more than 10 years as a senior producer at CNN. She's currently a freelance writer and yoga teacher in Los Angeles. You can find her on Twitter at @abigailbassett.</em></p>
	{% endblock %}