{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#Canada #1997 #April #property #1992 #2016 #New #child #America #May #998 #1977
  #science #American #2015 #1999 #Manitoba #2005 #2007 #Cree #2008 #August #1973 #Bay
  #Native #Technology #death #corn #Ottawa #1976 #2003 #Vancouver #March #Indian #mental
  #North #1974 #British #Europe #Winnipeg #children #1993 #2013 #2000 #014 #Canadian
  #Ontario #flu #2009 #science #research #Bishop #Cardinal #1930 #1940 #1951 #1965
  #companies #Roma #Northern #Western #Chomsky #Saskatchewan '
title: The Ethic of Talking Softly</p>
<hr />
<p>Plains [[Cree]] pêyâhtikowêwin: The Ethic of Talking Softly
Author(s): Jeffrey Muehlbauer
Source: Anthropological Linguistics , SPRING [[2016]], Vol. 58, No. 1 (SPRING [[2016]]), pp. 7[[998]]
Published by: The Trustees of [[Indian]]a University on behalf of Anthropological
Linguistics
Stable URL: http://www.jstor.com/stable/26353753
JSTOR is a not-for-profit service that helps scholars, [[research]]ers, and students discover, use, and build upon a wide
range of content in a trusted digital archive. We use information technology and tools to increase productivity and
facilitate new forms of scholarship. For more information about JSTOR, please contact support@jstor.org.
Your use of the JSTOR archive indicates your acceptance of the Terms &amp; Conditions of Use, available at
https://about.jstor.org/terms</p>
<p>and are collaborating with JSTOR to digitize, preserve and extend access to Anthropological
Linguistics</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>Plains [[Cree]] pêyàhtikowêwin: The Ethic of Talking Softly</p>
<p>Jeffrey Muehlbauer</p>
<p>Thunder [[Bay]], [[Ontario]]</p>
<p>Abstract. [[Cree]] speakers often characterize their language as "soft." W</p>
<p>this means is explored in the context of various philosophical concepts devel
oped by the [[Cree]] themselves for the analysis and understanding of speech, wi
the aid of parts of the Hymes model for the ethnography of speaking, and
related to a paradigm of grammatical contrasts produced by a [[Cree]] elder.</p>
<ol>
<li>Introduction. During linguistic fieldwork on Plains [[Cree]] (Algonq
[[Western]] [[Canada]]), targeted questions about several well-known featu
Algonquian languages (obviation, direct and inverse morphology, an</li>
</ol>
<p>clause-typing) brought to the mind of an elder from one of the four rese</p>
<p>Hobbema, Alberta, a paradigm he had been taught by one of his own me</p>
<p>The paradigm is reproduced here as (la)-(lc).
(la) êkos îtwêw ana pawâkan.
êkosi itwê-w ana pawâkan
thus say-3 that.AN.SG spirit
'That's what the spirit said.'
Context: The pawâkan has come to you, the speaker, and you are conveying what it
said to others.</p>
<p>(lb) êkos ê-itwêt ana pawâkan.
êkosi ê-itwê-t ana pawâkan
thus Cl-say-3 that.AN.SG spirit
'That's what the spirit said.'</p>
<p>Context: The pawâkan has come to someone else, who told you about it, an
conveying what it said to others.</p>
<p>(le) êkos ê-itwêyit anihi pawâkana.
êkosi ê-itwê-yi-t anihi pawâkan-a
thus cl-say-DS-3 that.AN.SG spirit-OBV
'That's what the spirit said.'
Context: The pawâkan has come to someone else, who told someone about it, who
told you, and you are conveying what it said to others.</p>
<p>While the English translations of the three [[Cree]] sentences in (la)-(lc) ar</p>
<p>identical, the contexts of the sentences differ in ways relating to their gramm
tical differences, which manipulate obviation (nonobviative pawâkan vs. ob
tive pawâkana, and nonobviative ê-itwêt vs. obviative ê-itwêyit) and clau
typing (the independent-order form itwêw vs. the conjunct-order form ê-itw
79</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>8o Anthropological Linguistics 58 no. 1</p>
<p>(Wolfart [[1973]]). From a linguistic point o</p>
<p>to a miniature grammar of key points of C</p>
<p>constructing chains of information (Coo
[[2008]], [[2015]]). Thus, this paradigm of sen
linguists seeking to study how [[Cree]] lang</p>
<p>contexts in which they are used—a perfect</p>
<p>However, this is not exactly what the
with. Rather, his way of summarizing t</p>
<p>ôma nêhiyawêwin 'the [[Cree]] language is soft
to discuss proper ways of speaking in Cr
wrtmn me speecn community tne issues raised Dy mis paradigm pert am more to</p>
<p>what [[Western]] scholars would classify as cultural aspects of language
was thinking not in linguistic-analytic terms per se, but rather within
model of modes of speech and the values of speech.</p>
<p>Any part of language can be considered from many points of vie
taneously. We could discuss sentences (la)-(lc) in terms of their for
and Muehlbauer [[2008]]). We could discuss them in terms of intensional and ex</p>
<p>tensional meaning, in the perspective of formal semantics (Muehlbauer [[2008]]).
We could integrate concepts from the fields of anthropology and ethnology and</p>
<p>inquire about the pragmatic and contextual issues that this paradigm of sen
tences brings up (Muehlbauer [[2015]]), considering what they tell us about verbal
performance in [[Cree]] culture. All of these are useful perspectives, and contribute
to our understanding of what is obviously a crucial piece of [[Cree]] language data.</p>
<p>However, these are all essentially outsider points of view. While such per
spectives are also useful to speakers of the language in helping them develop
and defend productive linguistic ideologies about [[Cree]] (Kroskrity and Field
[[2009]]; Muehlbauer [[2013]]), another point of view that is sometimes neglected
in our consideration of language forms (i.e., "formal" linguistics) is what the
community themselves think about these forms. What sorts of analysis do [[Cree]]</p>
<p>speakers themselves imply with these sentences? What is their perspective?
What was the impetus for creating this paradigm and what does it contribute to
cultural understanding for [[Cree]] speakers? This is a valid perspective in its own
r-i crlit an A rrnn flint pnsts licrVit. nn nt.tier nersneotives</p>
<p>When considering how these perspectives interact, it is important to remem
ber that there is no way to derive everything from a single starting point. There</p>
<p>is no primum mobile either for language as a whole or for a particular linguistic</p>
<p>form in the sense that we have often sought it. Language is simultaneously
many things at once and there are many valid, simultaneous perspectives on it.
That the information gained from a cultural perspective does not straightfor
wardly derive from formal analyses, or vice versa, does not invalidate either
perspective. While the search for a single starting point may often produce
important and enlightening results, this should not cause us to ignore aspects of
language that cross-cut this drive.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>JefferyMuehlbauer</p>
<p>81</p>
<p>This article presents a ser
points of departure for un</p>
<p>purposes
cepts</p>
<p>is</p>
<p>and</p>
<p>needs</p>
<p>Hymes's</p>
<p>Hymes's</p>
<p>model</p>
<p>of</p>
<p>com</p>
<p>"norms</p>
<p>is</p>
<p>the</p>
<p>of</p>
<p>onl</p>
<p>Borrowing a metaphor fro
handholds from which
then, is a survey of what
with these speakers using
as a representation of a Cr</p>
<p>ing</p>
<p>2.</p>
<p>Norms</p>
<p>of</p>
<p>interpretati</p>
<p>preted by its audience, the
in mind in much the same
of the language's system—</p>
<p>which</p>
<p>is</p>
<p>then</p>
<p>performed</p>
<p>knowledge "grammar" or "
correlate for full discourse</p>
<p>Baumann</p>
<p>[[1977]]).</p>
<p>As</p>
<p>Bauma</p>
<p>case does the abstraction n
other factors may interven
large-scale discourse prod</p>
<p>Nevertheless, it is clear in
petent speakers possess an
pret a given performative</p>
<p>mance</p>
<p>is</p>
<p>uninterpretable</p>
<p>knowledge</p>
<p>of</p>
<p>the</p>
<p>grammar</p>
<p>across a tree with brightly
[[Cree]] ceremony—will not b
the linguistic structures of
Norms</p>
<p>speech</p>
<p>of</p>
<p>interpretation,</p>
<p>events.</p>
<p>intersecting
Plains [[Cree]],</p>
<p>For</p>
<p>Hyme</p>
<p>with the belie
then, we oug</p>
<p>fV»ÛX7 wrî+V» ΠΛΤΛatwΤΑΤΛ aÎ rv»nor»î**flf τπη Innmin/rn Ivt» TTmvtlr</p>
<p>mostly done by anthropologists who attempt to interp</p>
<p>cussions with [[Cree]] speakers, I have been able to piec
norms that are referenced in Plains [[Cree]] discourses.
system (which presumably has endured for a few m
sembles a more durable version of the one described</p>
<p>communities by Bauman ([[1974]]), and a detailed comparis</p>
<p>communication would be useful.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>82 Anthropological Linguistics 58 no. 1</p>
<p>When one works with Plains [[Cree]] speak
about language relate to norms of interp
perties of specific linguistic forms. In de
thinkers from three different age group
tory have all referenced a concept of "so
sulates the purposes of the language and
to be used.</p>
<p>(2) kâ-yôskâtâk ôma nêhiyawêwin.
kâ-yôsk=ât=â-k ôma nêhiyawêwin
C2-soft=PF=II-0 this.IN.SG [[Cree]].language
'The [[Cree]] language is soft.' (author's field notes)</p>
<p>The root yôsk- is not easily translatable into English, in part because roots i
[[Cree]], somewhat like those of Semitic languages (Déchaîne [[2003]]), have extrem
ly abstract meanings, but also because the concept that yôsk- expresses is no
closely analogous to anything in most English-speaking communities. In som
contexts, yôsk- means 'soft' with respect to touch. For example, when Emm
Minde describes the process of working with hides in constructing clothes, as in
(3), the goal is to have them ê-yôskâki 'soft'.
(3) kà-misipocikêt, kâ-misipotât aya pahkêkin, ka-yôskâyik
'when she scraped the hide over a blade so that it would be soft' (Minde [[1997]]:22).</p>
<p>However, when yôsk- is used of the [[Cree]] language, the root has a more abstract</p>
<p>philosophical meaning that is not translatable into English at all (the abstrac</p>
<p>[[property]] of softness in English being something that a Hollywood tough-talkin</p>
<p>actor like John Wayne would insult his opponents with). For example, Sara
Whitecalf, in a discourse yet to be published, describes medicine that helps the</p>
<p>mind as yôsk- (Wolfart p.c. [[2008]]). After many discussions with Plains Cre
community members, it seems the term is a summary of a set of Plains Cre
norms of interpretation. These are best described by Lightning ([[1992]]), and
outline these in sections 3-6, borrowing heavily from his description.</p>
<ol>
<li>wàhkêpinêwin 'vulnerability'. One of the recurrent themes in
Lightning's discussion of Plains [[Cree]] oral performance is vulnerability.3 "The
speaker makes themselves open and vulnerable to the hearer" (Lightning [[1992]]:
62-63). This vulnerability can be psychological, as is seen below, but it can also
be explicitly physical in nature, as Sarah Whitecalf explains.
mistahi kitotêwak oskinîkiwa, okosisiwâwa ôki nâpêwak—mistihkomân
kî-cimatâwak êsa ômatowihk, êkwa ê-wî-kakêskimâwasocik; mistihkomân êsa
kî-cimatâwak, "hâm, kisîmitâni, ôma kâ-wî-wîhtamâtân, ôma kâ-wî-isi-wâh
wîhtamâtân; kîspin kisîmitâni, ôma ohci tâh-tahkamîhkan!"</li>
</ol>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>Muehlbauer</p>
<p>83</p>
<p>They lectured the young men a
used to plant a hunting-knife [
when they were going to coun
knife [in between]: "Now then,
the manner in which I am goin</p>
<p>+V»/in ίτλπ οV* oil o+oU er\^ ρ+αΚ Trio τιτΊ+V» +Viio lrr\rfû!" Γ\ΑΠλi+ûoo 1 ί 1</p>
<p>According to kâ-pimwêwêhahk's summary of this counseling prac
ability was the primary reason elders were listened to: êwak ôh
nitohtâht kêhtê-aya kîkway ê-wîhtahk 'That is why the old people
listened to when they told something' (Kâ-Nîpitêhtêw 1[[998]]:94)·4 This
ability in the most visceral sense, but there are correlated psycholog
to vulnerability as well. These are more subtle, and require an unders
other [[Cree]] concepts.</p>
<p>The concept of vulnerability here is tightly intertwined with the P
notion of truth, which I discuss in section 6 as part of the concept o
truth happen'. In attempting to speak about his or her beliefs, th
liable to be misinterpreted. Since accurate representation is a crucial
(Cook and Wolfart [[2009]]), this risk is considered substantial. Since the</p>
<p>pretation began with the speaker, speakers often take the respon</p>
<p>proper interpretation on themselves, which means that they must m
ous efforts to get hearers to interpret the communicated beliefs pro
best way to do so, within the [[Cree]] ethic, is to open oneself totally, t
oneself completely and unashamedly to inspection. This is dangerous,
because it lets the audience know things about the speaker that co
against him or her and that could themselves be misinterpreted. Hen
ers choose to make themselves psychologically vulnerable in order to
understanding of truth the best chance of being properly interpreted
This ethic of vulnerability is part of the underlying reason for a
[[Cree]] speech practices, including most notably the traditional practice</p>
<p>ing coup (Mandelbaum [[1940]]). In this type of speech, a [[Cree]] man w</p>
<p>gathering and recite deeds he has done, all of which are most likely k
those present. While this is generally interpreted as bragging by Euro
actually quite the opposite when understood in terms of [[Cree]] ethics.
their significant deeds, speakers open their lives to inspection and m</p>
<p>selves vulnerable to their hearers. If their words are not an accu
ociitai/iuLi val ωισιι uccucs, wic »pceu.ci a auuaequeiib apeeuii Will nut ut? llSbtJllt?U bU.</p>
<p>Counting coup, then, is a kind of "putting your money where your
to speak: "I am a person who has done these things. I here recite th</p>
<p>you know I speak accurately about myself. If this recitation tu</p>
<p>wrong, I am aware that you will not believe me in anything I subs</p>
<p>As an example of this mismatch between [[Europe]]an and Cre</p>
<p>styles, consider Emma Minde's account of her life. She begins with</p>
<p>statement about her own good deeds and her central importanc
leaders in the community.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>84 Anthropological Linguistics 58 no. 1</p>
<p>mâk âya, namôy âyi nitayiwêpin, k-âyiwêpic</p>
<p>âya êwako nipimitisahên, êyâpic aya niwîc
pikw îta; ita kâ-mamisîtotâkawiyân. mâcik âya, ê-kî-mamisîtotawit
ayamihêwiyiniw ka-wîcihak ôta, ayamihâwin ohci. nik- aya, nikiyokawâwak
mân âya otâhkosiwak, ninitawi-wîc-âyamihâmâwak. êkwa kihc
âyamihêwiyiniw mîn ê-kî-sawêyimit aya, ayamihêwi-saskamon ka-miyakik
otâhkosiwak, êwako atoskêwin nitôtên; êkwa kâ-nîpêpihk, êkota mina mân
âyamihêwiyiniw êkw âyamihêwiskwêw niwîcêwâwak, ê-nitaw
âyamihêstamawâyâhkik, ayisiyiniwak kâ-nakatask- ayi, kâ-nakataskêcik.
But I am not retired the way old people retire, I do not follow that way of life, I
still help everywhere as much as I can; where people rely on me. The priest, for
instance, has relied upon me to help him with the church work here. I usually
visit the sick, I go and pray with them. And now the [[Bishop]] has blessed me so
that I give Holy Communion to the sick, that is the work I do now; and at wakes,
at that time, too, I usually go along with the priest and the sister, when we go to
pray for the people who have departed this world. [Minde [[1997]]:2]</p>
<p>Within [[Cree]] discourse, this is interprétable as a counting coup and a statemen
of her own vulnerability: "I am going to talk about religious belief and liv
a good life and these are my credentials for talking about it. I hereby open m
life to your inspection in order that you take my message in its proper context</p>
<p>However, these are statements that could easily be misinterpreted as se
serving piety in an English linguistic and cultural context. Such a misin
pretation highlights the dangers of translating one culture into the langu
and value system of another; a discourse that demonstrates ideal vulnerabi</p>
<p>in [[Cree]] terms can be twisted into ugly self-aggrandizement in another system
values. As a thought exercise, the reader should consider what it would feel li
to be asked to speak in front of every family member and every close friend y
have ever known and then be asked to summarize the important things ab
your life. The feeling of intense scrutiny, fear of misrepresentation, and sense</p>
<p>being inspected that ac[[companies]] this activity is what lightning is referr
to as the experience that must be accepted in order to live up to the ethic
wâhkêpinwêwin 'vulnerability.'</p>
<p>A number of other [[Cree]] cultural patterns are also crucially entangled with</p>
<p>the ethic of vulnerability, including the pakitinâsowin 'giveaway' (from the r
pakitm- release , plus derivational morpnoiogy tnat results m a meaning 01</p>
<p>'making oneself free/released/discharged'), kîhikosimowin 'fasting rituals', an
the prayer type called mawimoscikêwin. In each of these events, the actor su
renders control, either through loss of bodily power (fasting), loss of all poss</p>
<p>sions (giveaway), or surrender of [[mental]] volition (mawimoscikêwin). These ac
of wâhkêpinêwin 'vulnerability' can be taken to the extreme, including fastin</p>
<p>until [[death]], giving away all one's possessions to the point of nakedness, a</p>
<p>complete, public loss of emotional control (mawimoscikêwin).5 While these ac
of surrendering could be interpreted as placing the life of the person in dan</p>
<p>[[Cree]] elders explicitly identify these same things as necessary for life.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>Muehlbauer</p>
<p>85</p>
<p>example, kâ-pimwêwêhahk sum
valent to life itself: êkota ohci
miyiht</p>
<p>'from</p>
<p>that,</p>
<p>he</p>
<p>is</p>
<p>given</p>
<p>(Kâ-Nîpitêhtêw 1[[998]]:126).
In general, [[Cree]] culture</p>
<p>th</p>
<p>place</p>
<p>supplication, an ethic constructed
ing natural world, kâ-pimwêwêha
says,</p>
<p>êwak ôhci, "êkâya wîhkât 'nitipêyimison' itwê!" k-ôhr-itïhcik osk-âyak; wiy âna</p>
<p>kâ-tipêyihtahk kipimâtisiwininaw. namôy wîhkâc âkaw-âyihk ka-kî</p>
<p>kîkway-tôtênânaw, tâpiskôc ôm âyimôhtowin.
That is why young people are told, "Never say Ί am my own master!'" For it is</p>
<p>he [the Creator] who rules our lives. We would never be able to do anything
hidden, for example this gossiping. [Kâ-Nîpitêhtêw 1[[998]]:54]</p>
<p>As a human being, you are always vulnerable, always in a role of dependen
The only way to have life is to acknowledge this dependency, this vulnerabilit
and to act as a vulnerable creature.6</p>
<p>Returning to the triadic paradigm in (la)-(lc), wâhkêpinwêwin 'vulnerab</p>
<p>ty' is apparent insofar as the paradigm itself is an explicit opening to inspection</p>
<p>The learner is being instructed on how to make their means of acquiring this
kind of spiritual knowledge explicit. Talk in an extremely careful, explicit wa
about the words of spirits, the learner is here instructed, so that the hearer w
know exactly what you know and how you know it; make yourself vulnerable
open yourself to inspection. The grammatical contrasts among the sentences o
(la)-(lc) partly have to do with grammatical means of implying whether so</p>
<p>one other than the current speaker is responsible for the accuracy of wh
reported.</p>
<ol>
<li>kitimâkêyihtowin 'compassion'. Hand in hand with vulnerability is a
norm of interpretation7 that Lightning ([[1992]]) identifies as "compassion." One
ought to have a "compassionate mind," he says (Lightning [[1992]]:16). Louis
Sun[[child]], the elder he works with, repeatedly confirms this; looking on the
hearer with compassion is a crucial ethic for [[Cree]] discourse and speakers will
typically make a strong effort to establish this relation to their hearers.</li>
</ol>
<p>This concept labeled "compassion" or "having a compassionate mind" is an
English translation of the root kitimâk- with the final -êyim/-êyiht 'do with the</p>
<p>mind'. The root kitimâk- occurs frequently in Plains [[Cree]] with a variety of verb
building morphemes and it has complex connotations that are not directly trans
ferrable to English. The term is variously translated as 'pity' and 'compassion',
but the particular attitude picked out by the root is more specifically [[Cree]] than
the English implies. If we consider the contexts that the form is used in, and how
[[Cree]] elders talk about the concept, a better picture of its meaning is accessible.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>86 Anthropological Linguistics 58 no. 1</p>
<p>The concept expressed by kitimâk- desc
powerful to have towards those less powe</p>
<p>kâ-pimwêwêhahk, the Creator often looks up
'compassion' or 'pity', as in (4).</p>
<p>(4) kîspin itêyimikoyahko, kitimâkêyimikoyah
iyôtin.</p>
<p>'If it is His will for us, if he thinks of us with pity, this tornado which is going
through will pass us by.' (Kâ-Nîpitêhtêw 1[[998]]:58)</p>
<p>Elders, in turn, ought to have this attitude towards young people. In the
atâyôhkêwin 'myths' or 'sacred stories' recorded among the Sweetgrass [[Cree]]
(Bloomfield [[1930]]), elderly people are classically identified as having this atti
tude towards their [[child]]ren and grand[[child]]ren. As well, leaders are supposed to
have it for the people in their care; (5) is an example.
(5) ékwa tânis âya, é-isi-miyopayik, kik-êsi-kanawâpamât aya, otiyinîma okimâhkân,</p>
<p>"ka-kitimâkêyimacik kitayisiyinîmak; ka-nâtamawacik kitayisiyinîmak, ita
ayahk, kâ-nayêhtâwipayicik. "
'[... he counseled him about] how things might go well, how a chief should look after
his people, "For you to care for your people; for you to take up for your people where
they run into trouble."' (Minde [[1997]]:68)</p>
<p>Likewise, all parents ought to have this attitude towards their [[child]]ren. In fact,
kâ-pimwêwêhahk asserts in (6) that this is the purpose of [[child]]ren coming into
the world.</p>
<p>(6) tâpiskôc îh, pêpîsis kimiyikawin, ka-kitimâkêyimat an êwako,
ka-kitimâkêyimat.
For example, behold, you have been given a baby so that you might think of that</p>
<p>one with compassion, you are to think of it with compassion. (Kâ-Nîpitêhtêw</p>
<p>1[[998]]:62]</p>
<p>Yet further, humans ought to have this attitude towards animals, especially
birds, but everything down to insects, as seen in (7). It appears to be the pro
genitive power of these creatures that is the underlying reason for this com
passionate attitude. In general, this progenitive aspect seems to be intimately
connected to the "power" that kitimâk- is tracking.
(7) "ka-wâpamâw êkot[a] ê-pimâhtawît manicôs, ê-askôs-, êwakw ân ê-askïwiskahk
askiy, êwak ôhci kitimâkêyimihk! wâwîs awa-piyêsîsa, êkon ê-kihcêyimât
kôhtâwînaw, ê-ocawâsimisit ê-wâpamâyêk, êkâya wîhkâc pisiskêyimihk ana!"
kî-itwêwak mâna kisêyiniwak, êwak ôhci k-ôh-manâcihtâhk kîkway. wiy âna</p>
<p>ê-kitimâkêyimât êkoni.
'"There you will see an insect crawling along, populating the earth, therefore think
of it with compassion! Especially the birds, Our Father thinks highly of them, and</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>JefferyMuehlbauer</p>
<p>87</p>
<p>when you see a bird with its o
that is why one should treat</p>
<p>(Kâ-Nîpitêhtêw
Hence,
and</p>
<p>is</p>
<p>1[[998]]:62)</p>
<p>kitimâkinnately</p>
<p>innate</p>
<p>is</p>
<p>something</p>
<p>connected</p>
<p>powerfulness</p>
<p>circumstantial</p>
<p>of</p>
<p>relation.</p>
<p>to</p>
<p>a</p>
<p>h</p>
<p>For</p>
<p>elderly people who have be
encing kitimâk-. They are
(kitimakisi-)</p>
<p>and</p>
<p>as</p>
<p>having</p>
<p>it</p>
<p>(8)</p>
<p>kiyâm pikoyikohk ê-kitimâk
fea-kitimâkêyimiht;...</p>
<p>'No</p>
<p>matter</p>
<p>look</p>
<p>upon</p>
<p>Tragedies</p>
<p>how</p>
<p>poor</p>
<p>them</p>
<p>and</p>
<p>an</p>
<p>with</p>
<p>tragic</p>
<p>old</p>
<p>m</p>
<p>comp</p>
<p>events,</p>
<p>are often times that call for a near-universal kitimâk- attitude.</p>
<p>(9) mitoni kî-kitimâkan anim êkospî, kayâs anima.
'It was really pitiful at that time, it was long ago.' (Ahenakew [[2000]]:40)</p>
<p>It seems, then, that there is a funda[[mental]] issue of power involved, that this
power is connected to progenitivity, and that kitimâk- is something in the weak
er that calls to the stronger. To direct one's mind in a kitimâk- way is to recog
nize one's own power and to find a responding aspect in the creature considered.
As Lightning ([[1992]]) and the elder he learns from both affirm, this [[mental]]
attitude is absolutely crucial to speech of any kind. As a norm of interpretation,
it dictates the performance of language in a particular set of ways. As part of</p>
<p>one's compassionate mind, one must speak pêyâhtik 'quietly, slowly, kindly,
softly, understandably' to others, as in (10). This pêyâhtik speaking is the lin
guistic aspect of compassion, including a demand for careful choice of words, a
controlled voice, and careful representation of the hearer's perspective. Pêyâhtik
speech, which is essentially spoken compassion, is seen as crucial to developing
understanding, because it opens the hearer's mind to the message (Lightning
[[1992]]) and thus builds towards "mutual thinking," which I discuss in section 5
below.</p>
<p>(10) moy nanitaw xtapatan ka-k.isiwehkah.tawat kïkway é-kitahamawat; môy
ka-kî-àpacihik, pêyàhtik kitos! pêyâhtik kitos! nisitohtamôh ôma!
'It is pointless for you to raise your voice and scold them when you are warning them
about something; it cannot benefit them, speak to them quietly! Speak to them</p>
<p>quietly!' (Kâ-Nîpitêhtêw 1[[998]]:62-63)</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>88 Anthropological Linguistics 58 no. 1</p>
<p>Since pêyâhtik speaking is the hallmark of k
core support strategy for developing unders
ing when it fails. This is the crux of the bad
to the group of elders he addresses in (11): p</p>
<p>(11) namôy kinisitohtâkonaw kîkway, kitawâsi</p>
<p>kîkway ka-wîhtamawâyahk, môy kinisitohtâko</p>
<p>'They do not listen to us, our [[child]]ren and gran</p>
<p>pêyâhtik way, they do not listen.' (Kâ-Nîpit</p>
<p>While the cultural message is not conveyed b
here is unequivocal: the core method of cou
elders. Thus, the transmission of nêhiyaw-isî
to the next generation is strongly endangere
kâ-pimwêwêhahk is casting himself as a st
camp to confirm what everybody already kn
is not much of hope of them getting better.</p>
<p>to do is exhort the audience to perseveranc</p>
<p>maintain their beliefs in what the Creator h
kâ-nêhiyawiyâhk 'what we who are [[Cree]] have</p>
<p>Turning again to the paradigm of senten
'compassion' is the chain that binds the thr
the [[Cree]] focus on supplication and the ide
passion is what motivates apawâkan 'spirit'
human. For example, Sarah Whitecalf tells
sages and also warns of danger (Whitecalf
receiving humans, while the pawâkan is ac
weaker than itself. Ideally, this is also the
various humans who share this message, b</p>
<p>sults in the betterment of lives. For example</p>
<p>porcupine pawâkan in Sarah Whitecalf's a</p>
<p>given the gift of sewing then goes and teach</p>
<p>The [[Cree]] concept of kitimàkêyihtowin 'co</p>
<p>reason for the very existence of this paradig</p>
<ol>
<li>nisitohtamowin, mâmâw-itêyihtamow</li>
</ol>
<p>differ strongly as to the conceptual role of c
Aristotle's model of rhetorical technique emp
and adversarial relation between speaker and</p>
<p>to wrestle for the hearer's attention (possi
street [[corn]]er) and convince him that a point</p>
<p>better (Cook, Déchaîne, and Muehlbauer 200
oped a set of techniques for the persuasion</p>
<p>trolling for types of evidence (e.g., witnesses</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>Muehlbauer</p>
<p>89</p>
<p>the speech (.what he calls syntax ), the argumentation ot the speech itsen, ana</p>
<p>the presentation of the speaker's ethics. This lays out a particularly adversarial</p>
<p>approach to speaking, but it has had enormous in[[flu]]ence on [[Western]] institu
tions from law to education to [[[[science]]]], due, at least partly, to the vigorous use
that [[August]]ine made of it during his numerous polemics against his doctrinal
opponents (e.g., the Pelagians). In addition, it has had a dominant in[[flu]]ence on
the study of language meaning (semantics), where the funda[[mental]] speech act is
a brutal assertion of how the world is, an assertion that the hearer has to agree</p>
<p>to or deny (Searle [[1965]]; Stalnaker [[1999]]; Déchaîne [[2007]]; Stephenson [[2007]]). This
model of Aristotle's is by no means the only model of speaking in [[Western]] socie
ties (others might include, e.g., Quaker speech), but it has had a strong in[[flu]]ence
within significant institutions.
Plains [[Cree]] rhetorical ideals do not follow this Aristotelean model of speak
ing at all. Walter Lightning explains the [[Cree]] view in terms of a concept he calls</p>
<p>"mutual thinking" ([[1992]]:62), which tends to be expressed in [[Cree]] as nisitoh
tamowin, often glossed as 'understanding'. When someone speaks, they assume,
as in (12), that the hearer is going to listen to them carefully (nanahitamowin
'careful, respectful listening') and try to think along with them.
(12) mistahi kî-nanahitam oskinîkiskwêw.
Ά young woman used to listen to it (what her elders said ) respectfully. ' (Kâ</p>
<p>Nîpitêhtêw 1[[998]]:46)</p>
<p>In other words, cooperation is assumed as a precondition of the performance.
Still, while it is expected, it is not taken for granted. The speaker will typically
work to establish mutual thinking, calling on an arsenal of rhetorical tools to
establish the proper relation between speaker and hearer. For example, the
speaker will make clear statements of beliefs they have in common, including
their adherence to traditional religious practice. Kâ-Nîpitêhtêw does this in (13)
by establishing that he works with other elders and observes the important [[Cree]]
rituals of morning prayer and smoking the pipe.
(13) êkosi ninanâskomon, wâpahki iskwêyâc ka-wî-, ôta ka-wîci-pîhtwâmakik,
ka-kâkîsimoyahk kîkisêpâ.
'So I give thanks, each morning when I smoke with them here, when we chant our
prayers in the morning.' (Kâ-Nîpitêhtêw 1[[998]]:48)</p>
<p>The speaker will also rely heavily on shared presences to bring the hearer into
the proper attitude towards the speech performance. For example, the speaker
may appeal to his or her connections with family and mentors of the hearer, as
in (14).
(14) êwakw âwa kâ-wîhtamawak anohc awa, ôta kâ-wîtapimak awa, misawâc êtokwê
kinisitawêyimâwâw, 'Freda' isiyîhkâsow; êkota ôma wîst ê-atoskêt ôta, tâpiskôc ôm
îtê maria kâ-pê-wîtapimakik ôki.</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>90 Anthropological Linguistics 58 no. 1</p>
<p>'This is what I told this person here today, wh
person. In any case, I guess you all know her
here, for example when I come to sit here w</p>
<p>1[[998]]:46)</p>
<p>In addition, pêyâhtik 'compassionate' spea
it conveys the speaker's kitimâkêyihtow</p>
<p>and those connected to the audience—for e
concerns and needs of others, including ho
herself to provide assistance with these con</p>
<p>(15) kîkwây ôma mistahi kâ-mâmitonêyihtam
âsônê... mâk ê-isi-kaskihtâyân, iyikohk nin
k-ôhpâskonak ospwâkan.</p>
<p>'What worries this person greatly is his [[child]]
I am able, that is how much I will do for [thi</p>
<p>the pipe.' (Kâ-Nîpitêhtêw 1[[998]]:48)</p>
<p>In a sense, these tools and the work the spe</p>
<p>to Aristotle's tools of persuasion (Cook, D
speaker is trying to persuade the hearer to</p>
<p>same thing as agreement; the speaker has n
of, as seen in the discussion of "making tru
Given these values, it should be no surpri
avoided. There is a near-universal preferenc
there be a risk of an argument, as is expre</p>
<p>(16) nànitaw ê-wî-itwêt ayisiyiniw, ahpô niya ti
niyîkatêhtân, namôy ninôhtê-nitohtawâw, m
ka-nitohtawak, konita ka-naskwêwasimak; na</p>
<p>ê-kî-isi-wîhtamâkawiyân niya; êwak ôhci k</p>
<p>ê-isi-owîcisânihtoyêk, ê-isi-otawâsimisiyêk k
mêkwâc ê-wîcêwacik, êwakw ânima piko kê-p</p>
<p>'When a person is going to say something ne
person says something negative to me, I sim
to him, for it is pointless for me to listen to
to him; it is better that I should not even list
told, and that will benefit you as well, being
parents and grandparents, so that they migh
earth) with them, that is the only thing that</p>
<p>Nîpitêhtêw 1[[998]]:64)</p>
<p>Negative speech is considered spiritually da
unclean as the speaker. Anyone who has wo
length of time can easily provide anecdotes
particular experience stands out from my o</p>
<p>anthropologist (unreflectively) made beli</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>Muehlbauer</p>
<p>91</p>
<p>was working with during a
about the troubles of workin</p>
<p>were being (in his
explained this, he</p>
<p>view) ob
chuckled</p>
<p>when</p>
<p>talking about a difficu
and interrupted the
perform a sweat. Nothing w
stuck out in my mind enoug
with. He interpreted the eld
bad things there, at that talk
get himself clean. That bad
stood</p>
<p>up</p>
<p>[[Cree]] interpretation,
tional offensiveness,</p>
<p>then, t
and, ob</p>
<p>ing it.</p>
<p>One way to understand this association between negative speech and un
cleanliness for the hearer is to think of the hearer's role in the performance. A
[[Cree]] person will seek to always "think along" with the speaker towards achiev</p>
<p>ing a cooperative understanding. Given this mirroring of the speaker, if the
speaker says something awful or cruel, in a very literal sense the hearer has now</p>
<p>thought something awful or cruel. It is the verbal equivalent of dumping dirty
water υ ver tue nearer a neau.</p>
<p>The nonassertional, noncombative mutual th</p>
<p>munication can be seen in the paradigm in (la)-(l</p>
<p>only that in (la), employing the independent
thus', has anything like assertional propertie</p>
<p>Muehlbauer [[2008]]; Cook [[2008]]; Muehlbauer 2</p>
<p>statement about what the speaker takes to be tr</p>
<p>that the speaker believes this proposition to be
own person experience. The forms in (lb) and
order form ê-itwêt 'she/he says thus', are non
directly indicate the speaker's belief about the t</p>
<p>2[[014]]). That is, (la) expresses the speaker's per
the other two sentences express that the spea
someone else. There is no attempt on the part</p>
<p>hearer of this truth—the speaker is behaving as
cooperative speech acts. It is up to the cooperativ</p>
<p>truth issues associated with this pawâkan's me</p>
<ol>
<li>ê-tâpwêmakahk 'making truth happen'.</li>
</ol>
<p>performance can be evaluated is in terms of me</p>
<p>achieve the ends towards which he or she wa
some of these ends; the proper expression of
prepare the hearer's mind, the expression of</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>92 Anthropological Linguistics 58 no. 1</p>
<p>pêyâhtik speech, and the achievement o
ever, there is a more superordinate goa
paratory for, what Lightning calls "maki
purpose of [[Cree]] speech, he says, is to bri
truth will "happen" for the hearer. Th
"happen" is meant to convey the nonagen
ing to be an intermediary, via proper s
their making.
This concept, expressed in English a
cally expressed in Plains [[Cree]] via the
rivatives, such as tâpwêmakan 'it com
kâ-pimwêwêhahk uses this word in (17
missionaries go through, whereby they s
isîhcikêwina '[[Cree]] things, [[Cree]] ways', eve
truth.</p>
<p>(17) piyisk an êkotê kik-êspayihow; ka-wâpah
kôhtàwinaw ê-kî-miyikoyahk, kîkwây ka-</p>
<p>'ultimately he [the priest], too, will move
of worship]; he, too, will see that it is fulfi
given it to us, what we should worship. ' (K</p>
<p>This truth event is not agentive; the ver</p>
<p>the event has no animate agent (Wolfar</p>
<p>not directly make this truth happen; all
stances in hopes that it will. In the conte
proper thing to do is to rely on (nâtamost
or spiritual nature. If proper contexts ar
that the truth happens, that their faith
as in (18).</p>
<p>(18) êwak ôma niyanan ë-mamisiyâhk, taht
ê-pakitinamâhk; tânitahtwâw êkwa ê-pim</p>
<p>ê-tàpwêmakahk, kîkway, okisêwâtisiwin it</p>
<p>'As for us, we rely on this, we hold a sweat
offerings; and although it [the Tornado] ha
passed around us. It is fulfilled, that in wh</p>
<p>(Kâ-Nîpitêhtêw 1[[998]]:58)</p>
<p>Humans are powerless to change events a
existence, as is expressed in (19).</p>
<p>(19) môy nànitaw itâpatan ka-mawimoyahk ôt
kitipêyihtênânaw wiya;... pikoyikohk, pikw</p>
<p>mawimoyani, môy nânitaw ka-kî-nâtam</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>Muehlbauer</p>
<p>93</p>
<p>'It is pointless for us to cry ou
all;... no matter where we mig</p>
<p>cannot</p>
<p>rescue</p>
<p>you,...'</p>
<p>(Kâ-N</p>
<p>When there is fulfillment,
is properly conducted with
is how speakers translate ê-t
(20)</p>
<p>ê-tàpwêmakahk</p>
<p>ôma</p>
<p>nipâ</p>
<p>'This sun-dance is powerful.
proper ceremonies in a sun d</p>
<p>When</p>
<p>truth</p>
<p>realization</p>
<p>pational</p>
<p>mind').9
and</p>
<p>that</p>
<p>of</p>
<p>of truth
'perceive</p>
<p>For</p>
<p>tâpwêmakahk,</p>
<p>give</p>
<p>as</p>
<p>for</p>
<p>a</p>
<p>perceiver</p>
<p>attitude</p>
<p>perception
is literally</p>
<p>ritual</p>
<p>the</p>
<p>relation</p>
<p>kitimâk-</p>
<p>the</p>
<p>happens</p>
<p>for</p>
<p>exists</p>
<p>one</p>
<p>w</p>
<p>is expre
the tru</p>
<p>example,
in</p>
<p>(21), and
them new ac</p>
<p>(21) mâcikôtitan omis ôma wî-i
ê-mosci-kiskinowâpicik, kisk</p>
<p>kê-tàpwêwakêyihtahk kîsow
mâh-mînwâskonamaw anim</p>
<p>'Lo, this is going to happen [w
people are going to play aroun
imitation will he used; but fo
chanting prayer! As he raises
pipestem.' (Kâ-Nîpitêhtêw 1[[998]]:122)</p>
<p>For Lightning ([[1992]]) there is no difference between the cooperative "truth
happenings" in ritual contexts like this and the way speech proceeds. He is
simply describing the interpersonal parallel of the process laid out for the ritual</p>
<p>relation between human understanding and the natural world. Humans make
truth happen in the natural world via their perception of the power of ritual
supplications, and they make truth happen for each other with their speech.</p>
<p>This is truth seen as a revelatory process, rather than an assertional one
(Déchaîne [[2008]]; Muehlbauer [[2008]]). In this sense, it is strongly divergent not
only from Aristotelean rhetoric, but from standard models of semantics. Within</p>
<p>formal semantics, language is typically conceived of as organized around asser
tions—claims about the "objective" state of things in the "real world." However,</p>
<p>a number of linguists now agree that Plains [[Cree]] has a grammar organized
around the subjective relation between speakers' beliefs and those of others
(Cook [[2008]]; Déchaîne [[2008]]; Muehlbauer [[2008]]). Summarizing, the evidence</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>94 Anthropological Linguistics 58 no. 1</p>
<p>seems to indicate that Plains [[Cree]] disc
semantics are not, strictly speaking,</p>
<p>forms appear to be used to convey belie
There is what I believe, and what you be
no ultimate fact that any one of us can
used as a tool (or a weapon) against the o</p>
<p>This overall approach to truth and i</p>
<p>illustrated by the triadic paradigm in (l</p>
<p>pawâkan, offers the speaker's perspec
more—the speaker experienced this and</p>
<p>addressee, are free to believe or disbe
not believe in pawâkanak at all. The f</p>
<p>pawâkan and êkos ês ê-itwêyit anihi paw
the speaker has acquired some knowled</p>
<p>you. In (lc), the events are set at a gr
obviative (Cook and Muehlbauer [[2008]]; Muehlbauer [[2008]], [[2015]]). In all three
cases, however, truth must happen for the hearer. It is up to you, in the con</p>
<p>text of your own knowledge and in the shared context of kitimâkêyihtowin,
wâhkêpinêwin, and nisitohtamowin, to put the pieces together and perceive the
4-KMi4-1&lt;% Λ-Ρ ΛΓΙΛ ΛΎΤΛ-μΙ-Λ</p>
<ol>
<li>Conclusion. The Plains [[Cree]] construction of the triadic paradigm in
(lc) provides a crucial insight into what Plains [[Cree]] speakers value and</li>
</ol>
<p>their beliefs are about their language, their "linguistic ideology" (Kroskrity
Field [[2009]]). As given to me, the paradigm crucially demonstrates gramm</p>
<p>ways to convey how someone knows something about messages from a
spirit, through firsthand experience, through secondhand experience, o</p>
<p>greater remove. We should conclude, then, that the structuring and conveyin</p>
<p>the personal relation to information is of primary importance to this s</p>
<p>community.
The value placed on this relationship to information extends beyond spir
ual issues. I have checked this paradigm with a variety of Plains [[Cree]] speake</p>
<p>using a variety of other potential sources (e.g., a friend, a relative, a strang
human, an animal), and in all cases, much the same concerns hold. The s</p>
<p>message is identified as the most important, amounting to the equivalen
legal context, which is why it is used for this paradigm. When one talks ab
pawâkan's message, it seems that the stakes are at their highest and h
communicative values are thrown into strong relief. However, the concepts</p>
<p>encapsulated here carry through, it appears, to interactions in daily life as well
Embedded in a [[Cree]] world view, this paradigm can be interpreted as convey</p>
<p>ing a number of [[Cree]] norms of communication. Through it, the elder teach
the student to allow himself or herself to be inspected regarding their kno
ledge—the [[Cree]] ideal of wâhkêpinêwin. By invoking the context of a pawâkan,</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>Jeffery</p>
<p>the
ent</p>
<p>elder reminds
human hearer</p>
<p>that</p>
<p>they</p>
<p>Muehlbauer</p>
<p>may</p>
<p>also</p>
<p>95</p>
<p>the stude
should be</p>
<p>benefit—</p>
<p>a paradigm that avoids dir
engage the hearer's own ex
careful listening and the d
nisitohtamowin. The gramm</p>
<p>light on the nonassertional,
careful to supply the proper
available to the hearer in the
the [[Cree]] concept of tàpwêm
Notes</p>
<p>Acknowledgments. Special thanks to the [[Cree]] and Métis cultural experts I hav
worked with and listened to throughout this project, including Wally Awasis, To</p>
<p>[[Cardinal]], Cynthia Cook, Rita Daniels, Joseph Deschamps, Jean Okimasis, Solomon Ratt
Wayne Roan, Josephine Small, Dorothy Thunder, and Simon Threefingers. Thanks to
linguist colleagues who have provided crucial insight, including Clare Cook, Rose-Mari
Déchaîne, Ryan Waldie, H. C. Wolfart, and Arok Wolvengrey.</p>
<p>Abbreviations. The following abbreviations are used: CI = conjunct type 1; AN</p>
<p>animate; DS = different subject; IN = inanimate; SG = singular; OBV = obviative.
1. The discussion was a fairly "typical" exchange—at least from a [[Cree]] point of view
The typical way someone talks about this topic in [[Cree]] is in a very "displaced" way. T
first time it is brought up, nothing might be said. The second it is brought up may be
the elder themselves, in a way that seems abrupt (e.g., in this case, he called me at 6:0
A.M. a week later). The third time it is brought up, it may be in a more serious conte
(e.g., in a sweat or during some other activity).
2. It is notable that one of the thinkers who referenced this concept was a Woods</p>
<p>[[Cree]] from [[North]]ern [[Saskatchewan]], rather than a Plains [[Cree]]. This suggests that t
concept crosses significant cultural and linguistic boundaries.
3. As far as I can tell, this is a translation of the Plains [[Cree]] word wâhkêpinêw(in).
this case, the English and [[Cree]] concepts evidently share much in common.</p>
<p>4"kâ-pimwêwêhahk" is a name he uses in [[Cree]] and hence follows [[Cree]] capit</p>
<p>ization patterns (there are no capital letters in [[Cree]]. "Kâ-Nîpitêhtêw" is his legal Cana
dian surname. It follows English capitalization rules (ka- is treated as a compound nam
like "Ste." in Ste. Exupéry). This is the standard for [[Cree]] names, used by everyone.</p>
<p>5- It is important to note that these values appear to cross the traditionali</p>
<p>Christian divide in [[Cree]] communities. For example, it is not at all uncommon to hear
classic mawimoscikêwin prayers offered by elders on the Sunday Christian radio broa</p>
<p>casts in [[Manitoba]].</p>
<ol>
<li>
<p>It is interesting to note that one of the [[Cree]] terms for the Métis is ayisiyiniwak
kâ-tipêyimisocik 'the people who rule themselves' (Norman Fleury p.c. [[2013]]). Implicit in
that phrase is reference to a perceived gap between the [[Cree]] way and the mode of life
that the Métis pursued, either through necessity or choice.</p>
</li>
<li>
<p>I understand a "norm of interpretation" as being related to how participants
should think (as opposed to act) because it affects how someone's speech is interpreted.
By expecting a speaker to have a compassionate mind, the hearer interprets what they
are saying as well-meant, coming from their best attempt at a solution to problems, etc.
Much like how your mother expects you to interpret her scolding as "compassionate"</p>
</li>
</ol>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>96 Anthropological Linguistics 58 no. 1</p>
<p>because she "has your best interests at heart.</p>
<p>needed to fully understand a communicative eve
8. Throughout this discussion, I leave unidenti
I am reporting because they asked not to be iden
with significant community-internal conflict in
a topic for another article, although one I am har
9. This word has several morphophonological v</p>
<p>and tâpwêyihtam, that reduce or eliminate t</p>
<p>Standard [[Roma]]n Orthography transcription.
References</p>
<p>Ahenakew, Alice</p>
<p>[[2000]] âh-âyîtaw isi ê-kî-kiskêyihtahkik maskihkiy / They Knew Both S
Medicine: [[Cree]] Tales of Curing and Cursing Told by Alice Ahen
Edited by H. Christoph Wolfart and Freda Ahenakew. [[Winnipeg]]:
sity of [[Manitoba]] Press.
Bauman, Richard</p>
<p>[[1974]] Speaking in the Light: The Role of the Quaker Minister. In Explorations
in the Ethnography of Speaking, edited by Richard Bauman and Joel
Scherzer, 144-β2. Cambridge: Cambridge University Press.
[[1977]] Verbal Art as Performance. Prospect Heights, 111.: Waveland Press.
Bloomfield, Leonard
[[1930]] Sacred Stories of the Sweet Grass [[Cree]]. National Museum of [[Canada]]
Bulletin 60, Anthropological Series 11. [[Ottawa]]: Department of [[North]]er
Affairs and National Resources.</p>
<p>[[Chomsky]], Noam
[[1965]] Aspects of the Theory of Syntax. Cambridge, Mass.: MIT Press.
Cook, Clare
[[2008]] The Syntax and Semantics of Clause-Typing in Plains [[Cree]]. Ph.D. diss.,
University of [[British]] Columbia.
2[[014]] The Clause-Typing System of Plains [[Cree]]: Indexicality, Anaphoricity, and
Contrast. Oxford: Oxford University Press.
Cook, Clare, Rose-Marie Déchaîne, and Jeffrey Muehlbauer
[[2003]] Rhetorical Structure of a Plains [[Cree]] Counseling Speech. Paper presented
at the Thirty-Fifth Algonquian Conference, London, [[Ontario]], 23-26 Octo
ber.</p>
<p>[[2005]] The Form of Rhetoric: An Analysis of a Plains [[Cree]] kakêskîhkêmowina
(Counselling Speech). Paper presented at A Linguist Looks at Literature: A
Workshop on Linguistics in Literature, Austin, Texas, 12-13 [[May]].
Cook, Clare, and Jeffrey Muehlbauer.</p>
<p>[[2008]] Constructing (Co-)Presence in Plains [[Cree]]. In Proceedings of WSCLA XII:
The Twelfth Workshop on Structure and Constituency of Languages of the
[[America]]s, Lethbridge, Alberta, [[Canada]], [[March]] 30-[[April]] 1, [[2007]], edited by</p>
<p>Seok Koon Chin and Hudu Fusheini, 12-25. [[Vancouver]]: University of</p>
<p>[[British]] Columbia.</p>
<p>Cook, Clare and H. Christoph Wolfart</p>
<p>[[2009]] Unity and Diversity in Plains [[Cree]] Preterite Constructions. Paper pre</p>
<p>sented at the Forty-First Algonquian Conference, Montreal.
Déchaîne, Rose-Marie
[[2003]] The Internal Structure of vP in Plains [[Cree]]. Paper presented at the Eighth</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
<p>[[2016]]</p>
<p>JefferyMuehlbauer</p>
<p>97</p>
<p>Workshop</p>
<p>on Structure and
cas, Brandon, [[Manitoba]], 7[[2007]] Order in a Free Word O
course Configurationality. P
Nagoya, Japan, 10 Novembe
[[2008]] The Conceptual Necessit
at the Algonquian Roundary.</p>
<p>Hymes, Dell.
[[1974]] Foundations in Sociolinguistics: An Ethnographic Approach. Philadelphia:
University of Pennsylvania Press.
Kâ-Nîpitêhtêw, Jim
1[[998]] ana kâ-pimwêwêhahk okakêskihkêmowina / The Counselling Speeches of
Jim Kâ-nîpitêhtêw. Edited by Freda Ahenakew and H. Christoph Wolfart.
[[Winnipeg]]: University of [[Manitoba]] Press.
Kroskrity, Paul, and Margaret Field, eds.
[[2009]] [[Native]] [[America]]n Language Ideologies: Beliefs, Practices, and Struggles in
[[Indian]] Country. Tucson: University of Arizona Press.
Lightning, Walter
[[1992]] Compassionate Mind: Implications of a Text Written by Elder Louis
Sun[[child]]. M.A. thesis, University of Alberta.
Mandelbaum, David
[[1940]] The Plains [[Cree]]. [[America]]n Museum of Natural History Papers 37(2):
155-316. [[New]] York: [[America]]n Museum of Natural History.
McLuhan, Marshall
[[1951]] The Mechanical Bride: Folklore of Industrial Man. [[New]] York: Vanguard
Press.</p>
<p>Minde, Emma</p>
<p>[[1997]] kwayask ê-kî-pê-kiskinowâpahtihicik / Their Example Showed Me the
Way: A [[Cree]] Woman's Life Shaped by Two Cultures. Edited by Freda
Ahenakew and H. Christoph Wolfart. Edmonton: University of Alberta
FYess.</p>
<p>Muehlbauer, Jeffrey</p>
<p>[[2008]] kâ-yôskâtahk ôma nêhiyawêwin: The Representation of Intentionality in
Plains [[Cree]]. Ph.D. diss., University of [[British]] Columbia.</p>
<p>[[2013]] nêhiyawêwin katawasisin: The Plains [[Cree]] Language Is Beautiful.
[[Canadian]] Journal of [[Native]] Studies 33(l):267-87.
[[2015]] A "Presence" Paradigm in Plains [[Cree]]: Context, Form, and Content.
Anthropological Linguistics 57(3):275-313· (Published in [[2016]].)</p>
<p>Searle, John.</p>
<p>[[1965]] What Is a Speech Act? In Philosophy in [[America]]: Essays, edited by Max
Black and William P. Alston, 221-39. Ithaca, N.Y.: Cornell University
Press.</p>
<p>Stalnaker, Robert</p>
<p>[[1999]] Context and Content: Essays on Intentionality in Speech and Thought.
Oxford: Oxford University Press.</p>
<p>Stephenson, Tamina
[[2007]] Towards a Theory of Subjective Meaning. Ph.D. diss., Massachusetts Insti
tute of [[Technology]].
Whitecalf, Sarah.</p>
<p>[[1993]] kinêhiyâwiwininaw nêhiyawêwin / The [[Cree]] Language Is Our Identity:</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:3n [[1976]] 12:34:56 UTC
All use subject to https://about.jstor.org/terms</p>
<p>98 Anthropological Linguistics 58 no. 1</p>
<p>The La Ronge Lectures of Sarah White
and Freda Ahenakew. [[Winnipeg]]: Unive
Wolfart, H. Christoph</p>
<p>[[1973]] Plains [[Cree]]: A Grammatical Study. Transactions of the [[America]]n Philo
sophical Society 63(5).</p>
<p>This content downloaded from
192.30.202.8 on Fri, 16 Jul 2021 02:15:36 UTC
All use subject to https://about.jstor.org/terms</p>
	{% endblock %}