{% extends 'index.html' %}
	{% block file %}
<hr />
<p>author: ohmanfoo
created: '2022-09-15'
source: '#todo'
tags: '#May #science #health #Breaking #revolution #science #1491 #1518 #1844 #1866
  #Donald '
title: The neuroscience of breaking out of negative thinking (and how to do it in
  under 30 seconds)</p>
<hr />
<h1>The Neuroscience of Breaking Out of Negative Thinking (and How to Do It in Under 30 Seconds)</h1>
<blockquote>
<h2>Excerpt</h2>
<p>You brain is wired to focus on the negative. Here’s how to build a new, more positive, mindset anytime, anywhere.</p>
</blockquote>
<hr />
<p><img alt="illustration of a brain against a graphical backdrop" src="https://pocket-syndicated-images.s3.amazonaws.com/60ff5c08eea3f.jpg" /></p>
<p>Photo by wigglestick/Getty Images</p>
<p>You just got off the phone with one of your most important clients. The game-changing deal you were trying to close is off. They're not interested.</p>
<p>You’ve just pitched 10 potential investors. They all say they’re “interested” but it’s been two weeks. You refresh your inbox hourly, and yet still no word.</p>
<p>How do you react in these situations?</p>
<p>If you’re like most people, your mind <a href="https://www.inc.com/quora/9-habits-for-eliminating-negativity-from-your-life.html?cid=search">floods with negativity</a>. “[[May]]be our product sucks,” “Why can't I just get a break?” or “[[May]]be there’s something wrong with me.”</p>
<p>Neuroscientists have a name for this automatic habit of the brain: “<a href="https://www.ncbi.nlm.nih.gov/pubmed/[[1844]]4702">negativity bias</a>.” It's an adaptive trait of human psychology that served us well when we were hunting with spears on the savanna 120,000 years ago.</p>
<p>In modern times, however, this habit of the brain leaves us reacting to a harsh email or difficult conversation as if our life were in danger. It activates a cascade of stress hormones and leaves us fixated on potential threats, unable to see the bigger picture.</p>
<p>Neuroscientist Rick Hanson has a great analogy for this strange quality of the mind. “Your brain,” he writes in his book <em><a href="https://www.amazon.com/Buddhas-Brain-Practical-Neuro[[[[science]]]]-Happiness/dp/[[1491]]5[[1866]]9?tag=wwwinccom-20">Buddha's Brain</a></em>, “is like Velcro for negative experiences and Teflon for positive ones.” When you lose a client, when the investors don’t come calling, or when you face the hundreds of other daily disappointments of life, you’re wired to forget all the good things and to instead <a href="https://www.inc.com/jeff-haden/how-your-negativity-bias-hurts-you.html?cid=search">obsess over the negative</a>.</p>
<hr />
<h2>The Ultra-Efficient Transformation of Notice-Shift-Rewire</h2>
<p>How can we reverse this hard-wired habit of the mind?</p>
<p>Three words: Notice-Shift-Rewire. This simple strategy puts into into practice the core insight coming out of the neuro[[[[science]]]] [[revolution]] of the past 30 years--the insight that, in the words of early neuroscientist <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4006178/">[[Donald]] Hebb</a>, “neurons that fire together, wire together.” It’s the insight that reminds us the brain isn’t fixed. Its habits aren’t like plaster. They’re more like plastic, strong enough to resist the occasional push but pliable enough to change in response to repeated effort.</p>
<p>That’s the magic of Notice-Shift-Rewire. By taking a moment each day to bring our attention to this practice, we build the habit of shifting out of negativity bias to more useful mind states: remembering our past wins, celebrating our strengths, and seeing life as a series of opportunities rather than a relentless slog through setbacks and heartbreak.</p>
<p>How do you integrate the practice of Notice-Shift-Rewire into the midst of everyday life?</p>
<h2>1. Notice your negativity bias.</h2>
<p>The first step is to bring awareness to this ordinary habit of the mind. Catch yourself when you slip into self-doubt, rumination, anxiety, and fear. Notice when your mind starts spinning out worst-case scenarios about how it's all going to come crashing apart.</p>
<h2>2. Shift to a moment of gratitude.</h2>
<p>Noticing opens the space for carving new neural pathways. Shifting allows you to flood this space with a more productive focus of attention. <a href="https://www.inc.com/peter-economy/[[[[science]]]]-workplace-gratitude-has-a-tremendously-positive-impact-on-those-around-you-heres-why.html?cid=search">A few seconds of gratitude</a> is the most efficient way to do this. Think of one thing you're grateful for right now. Your home. Your job. Your [[health]]. Your family. Your talents and strengths. Your drive.</p>
<h2>3. Rewire your brain.</h2>
<p>Here’s where the real work of begins. Hanson calls this the simple <a href="https://www.rickhanson.net/books/buddhas-brain/">act of savoring</a>. It’s taking 15 seconds to stay with this new mindset -- to encode it deep into the fabric of your mind.</p>
<p>This last step is where we transform our ordinary habit of overlooking the positive. It’s where we shift the brain's response to all the good in life from Teflon to Velcro. We’re flipping our evolved wiring on its head -- taking just a few seconds to build stronger memories around all the good things happening in life.</p>
<p>The best thing about this practice is that it’s time efficient, portable, and powerful. It takes less than 30 seconds, you can do it anytime and anywhere, and you will begin to experience an immediate shift in your mindset.</p>
<p>The moment you make this shift, everything changes. You remember your purpose, look forward to new challenges, and face life with renewed optimism.</p>
<p>Try it once a day, every day for a week, and see what happens.</p>
	{% endblock %}